<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Verry마켓 :: 과일 공동구매, VeryMarket</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="styleSheet" href="{% static 'css/normalize.css' %}">
    <link rel="styleSheet" href="{% static 'css/section1.css' %}">
    <link rel="styleSheet" href="{% static 'css/common.css' %}">
    <link rel="styleSheet" href="{% static 'css/list.bundle.css' %}">
    <link rel="styleSheet" href="{% static 'css/pc.bundle.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/coupon.bundle.css' %}">-->
    <script src="{% static 'js/modal.js' %}" defer></script>
    <script src="{% static 'js/dropdown.js' %}" defer></script>
    <script src="{% static 'js/main-slide.js' %}" defer></script>
    <script src="{% static 'js/full-slide.js' %}" defer></script>
    <script src="{% static 'js/half-slide.js' %}" defer></script>
<!--    <script src="{% static 'js/md-category.js' %}" defer></script>-->
    <script src="{% static 'js/quickmenu.js' %}" defer></script>
<!--    <script src="{% static 'js/timer.js' %}" defer></script>-->
    <script src="{% static 'js/list.bundle.js' %}" defer></script>
<!--    <script src="{% static 'js/pc.bundle.js' %}" defer=""></script>-->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}" defer=""></script>
    <script src="{% static 'js/cartput_v1.js' %}" defer=""></script>
    <script src="{% static 'js/common_filter.js' %}" defer=""></script>
</head>
<body>
<!-- modal -->
<section class="promotion-modal">
    <div class="container">
        <div class="promotion-link">
            <a href="#">
                국내 최대규모 과일 플랫폼 "베리마켓"
                <strong>&nbsp;2022/06/13_ </strong>
                GRAND OPEN!
                <button type="button" class="promotion-arrow"></button>
                <button type="button" class="promotion-close"></button>
            </a>
        </div>
    </div>
</section>

<!-- header -->
<header class="header">
    <div class="header-contents">
        <div class="delivery-image">
            <img src="{% static 'assets/delivery.webp' %}" alt=""/>
        </div>
        <ul class="customers-items">
            {% if request.user.is_authenticated %}
            <div type="text" >{{ user.username }} 님 welcome !</div>
            {% if user.u_id != NULL %}&ensp;&ensp;&ensp;
            <li ><a href="/logout">로그아웃</a></li>
            {% endif %}
            {% if user.u_id == NULL %}&ensp;&ensp;&ensp;
            <li ><a href="/kakao_logout">로그아웃</a></li>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li ><a href="/mypage">마이페이지</a></li>
            &ensp;
            {% else %}
            <li class="sign-up-item"><a href="/signup">회원가입</a></li>
            <li class="sign-in-item"><a href="/login">로그인</a></li>
            {% endif %}
            <li class="service-center-item">
                <a href="#">고객센터</a>
                <button type="button" class="service-center-icon"></button>
                <ul class="service-center-detail">
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                    <li>
                        <a href="#">자주하는 질문</a>
                    </li>
                    <li>
                        <a href="#">1:1 문의</a>
                    </li>
                    <li>
                        <a href="#">상품 제안</a>
                    </li>
                    <li>
                        <a href="#">에코포장 피드백</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="logo-image">
        <a href="/">
            <img src="{% static 'assets/very_logo.png' %}" alt="Market Kurly"/>
        </a>
    </div>


    <nav class="navbar">
        <button type="button" class="navbar-close">
            <i class="fas fa-times"></i>
        </button>

        <ul class="menu">
            <li class="all-category">
                <a href="#">
                    <button type="button" class="menu-button"></button>
                    전체 카테고리
                </a>

                <ul class="all-category-item">
                    <li>
                        <a class="vegetable">과일상품</a>
                        <ul class="sub-category-menu sub-vegetable">
                            <li>
                                <a href="/shop/">
                                    <span class="sub-title">사과·배·오렌지</span>
                                </a>
                            </li>
                            <li>
                                <a href="/shop/">
                                    <span class="sub-title">한라봉·망고·딸기</span>
                                </a>
                            </li>
                            <li>
                                <a href="/shop/">
                                    <span class="sub-title">감귤·샤인머스켓·키위</span>
                                </a>
                            </li>
                            <li>
                                <a href="/shop/">
                                    <span class="sub-title">토마토·아보카도·메론</span>
                                </a>
                            </li>
                            <li>
                                <a href="/shop/">
                                    <span class="sub-title">오이·호박·고추</span>
                                </a>
                            </li>
                            <li>
                                <a href="/shop/">
                                    <span class="sub-title">체리·냉동</span>
                                </a>
                            </li>
                            <li>
                                <a href="/shop/">
                                    <span class="sub-title">과일 선물세트</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="fruit"> 고객센터 </a>
                        <ul class="sub-category-menu sub-fruit">
                            <li>
                                <a href="/board/n/">
                                    <span class="sub-title">공지사항</span>
                                </a>
                            </li>
                            <li>
                                <a href="/board/">
                                    <span class="sub-title">1:1문의</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="sub-title">About 베리마켓</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a class="meat"> 회원관리 </a>
                        <ul class="sub-category-menu sub-meat">
                            <li>
                                <a href="/mypage/">
                                    <span class="sub-title">마이페이지</span>
                                </a>
                            </li>
                            <li>
                                <a href="/cart/">
                                    <span class="sub-title">장바구니</span>
                                </a>
                            </li>
                            <li>
                                <a href="/mypage/update/">
                                    <span class="sub-title">비밀번호 찾기</span>
                                </a>
                            </li>
                            <li>
                                <a href="/mypage/update/">
                                    <span class="sub-title">회원 탈퇴</span>
                                </a>
                            </li>
                            <li>
                                <a href="/mypage/coupon/">
                                    <span class="sub-title">내 쿠폰</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a class="recommend">베리의 추천</a>
                        <ul class="sub-category-menu sub-recommend">
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/diet.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">식단관리</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/breakfast.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">간편한 아침식사</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/best.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">재구매BEST</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/3000.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">3천원의 행복</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/mart.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">베리마트</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/single.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">1인가구</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/easy.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">뚝딱! 간편식</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/bakery.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">베이커리 맛집</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/sidedish.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">반찬가게</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/cytogenic.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">키토제닉</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/vegan.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">비건</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/offline.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">오프라인 맛집</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/kurly.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">베리마켓이 만든 상품</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/only.png' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">Very Only</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/kf365.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">KF365</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sub-recommend-image">
                                        <img src="{% static 'assets/menuimg/1pt.jpg' %}" alt=""/>
                                    </div>
                                    <span class="sub-title">1% Table</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="new-product-category">
                <a href="/board">고객센터</a>
            </li>
            <li class="best-product-category">
                <a href="/shop">베스트 상품</a>
            </li>
            <li class="cheap-product-category">
                <a href="popup/popup1.html" onclick="window.open(this.href, '_blank', 'width=450, height=430'); return false;">알뜰쇼핑</a>
            </li>
            <li class="weekly-product-category">
                <a href="popup/popup1.html" onclick="window.open(this.href, '_blank', 'width=450, height=430'); return false;">금주혜택</a>
            </li>
        </ul>

        <div class="sub-menu">
            <form action="#" class="search-box">
                <input type="text" placeholder="검색어를 입력해주세요."/>
                <button type="button" class="button-search">
                </button>
            </form>
            <input type="image" src="{% static 'assets/ico_search_x2.webp' %}" class="btn_search" width="30"
                   height="30">
            <button type="button" class="button-coords"></button>
            <button type="button" class="button-cart"></button>
        </div>
    </nav>
</header>

{% block body %}

{% endblock %}


<!--{% block footer %}-->
<!--{% endblock %}-->
<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="cs-center">
            <div class="cs-main">
                <h3 class="cs-title">고객행복센터</h3>
                <div class="cs-contact">
                    <strong class="cs-number">1644-1111</strong>
                    <a href="#" class="cs-question">카카오톡 문의</a>
                    <a href="#" class="cs-question">1:1 문의</a>
                </div>
            </div>

            <div class="cs-detail">
                <span class="cs-detail-title">365고객센터</span>
                <span class="cs-detail-desc">오전 7시 - 오후 7시</span>
                <span class="cs-detail-title">365고객센터</span>
                <span class="cs-detail-desc">오전 7시 - 오후 7시</span>
                <span class="cs-detail-title">24시간 접수 가능</span>
                <span class="cs-detail-desc"
                >고객센터 운영시간에 순차적으로 답변해드리겠습니다.</span
                >
            </div>
        </div>

        <div class="footer-detail">
            <ul class="footer-links">
                <li>
                    <a href="#">베리마켓 소개</a>
                </li>
                <li>
                    <a href="#">베리마켓 소개영상</a>
                </li>
                <li>
                    <a href="#">인재채용</a>
                </li>
                <li>
                    <a href="#">이용약관</a>
                </li>
                <li>
                    <a href="#">
                        <strong>개인정보처리방침</strong>
                    </a>
                </li>
                <li>
                    <a href="#">이용안내</a>
                </li>
            </ul>

            <ul class="company-info">
                <li>
                    <span>법인명 (상호) : 베리마켓</span>
                    <span>사업자등록번호 : 111-12-12121</span>
                    <a href="#">사업자정보 확인</a>
                </li>
                <li>
                    <span>통신판매업 : 제 2018-서울금천-01111호</span>
                    <span>개인정보보호책임자 : 서민수</span>
                </li>
                <li>
                    <span>주소 : 서울 금천구 디지털로 130 남성프라자, 10F</span>
                    <span>대표이사 : 임홍인</span>
                </li>
                <li>
                    <span>입점문의 : <a href="#">입점문의하기</a></span>
                    <span>제휴문의 : <a href="#">business@verycorp.com</a></span>
                </li>
                <li>
                    채용문의 :
                    <a href="#">recruit@verycorp.com</a>
                </li>
                <li>
                    <span>팩스 : 070 - 0000 - 0000</span>
                    <span>이메일 : <a href="#">help@verycorp.com</a></span>
                </li>
            </ul>

            <span class="copyrights">ⓒ KURLYCORP.ALL RIGHTS RESERVED</span>

            <ul class="sns-links">
                <li>
                    <a href="#">
                        <img src="{% static 'assets/footer-ig.webp' %}" alt="인스타그램"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'assets/footer-fb.webp' %}" alt="페이스북"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'assets/footer-blog.webp' %}" alt="네이버 블로그"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'assets/footer-post.webp' %}" alt="네이버 포스트"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'assets/footer-ytb.webp' %}" alt="유튜브"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-top-button">
        <a aria-label="맨 위로"></a>
    </div>
</footer>
</body>
</html>
