{% extends 'home/base.html' %}
{% load static %}
{% block body %}

<div class="mobile-menu">
    <button type="button" class="button-user" aria-label="마이페이지">
        <i class="far fa-user icon-user"></i>
    </button>

    <button type="button" class="button-cart" aria-label="장바구니"></button>
</div>

<!-- main -->
<main class="main">
    <section class="slide">
        <div class="slide-wrap">
            <div class="slide-box">
                <ul class="slide-items">
                    <li class="slide-content">
                        <a href="#" class="slide01"
                           style="background-image: url(https://verymarket2022.s3.ap-northeast-2.amazonaws.com/static/image/베리마켓웹배너가로형.jpg
                           );"></a>
                    </li>
<!--                    <li class="slide-content">-->
<!--                        <a href="#" class="slide02"-->
<!--                           style="background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/2Afk/image/FMTKGDV8rDqN6-nJwqwl_gjadFI.jpg-->
<!--                           );"></a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </section>

    <section class="recommendation section">
        <div class="container">
            <h2 class="title">이 과일 어때요?</h2>
            <div class="product-slide">
                <div class="product-slide-wrap">
                    <div class="product-box">
                        <ul class="recommend-items">
                            {% for product in products %}
                            <li>

                                <a href="#" class="recommend-product-image image-hover">
                                    <img class="card-img-top"
                                         src="{{product.image.url}}"
                                         alt="Product Image">
                                </a>
                                <a href="#">
                                    <h3 class="product-name">{{product.name}}</h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">할인률: 10%</strong>
                                </div>
                                &ensp;
                                <div class="product-price">
                                    <strong class="final-price">현재가: {{product.price}} 원</strong>
                                </div>
                                &ensp;
                                <div class="product-price">
                                    <span class="regular-price">할인가격: 27,900원</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="product-button-direction">
                <button type="button" class="recommend-prev-button"></button>
                <button type="button" class="recommend-next-button"></button>
            </div>
        </div>
    </section>


    <section class="event section">
        <div class="container">
            <a href="#">
                <h2 class="title">
                    이벤트 소식
                    <button type="button" class="title-arrow"></button>
                </h2>
            </a>

            <ul class="event-items">
                <li>
                    <a href="#" class="event-product-image image-hover"></a>
                    <a href="#" class="event-product-detail">
                        <h3 class="event-title">
                            덴탈 간식·용품 최대 30% 할인&amp;GIFT
                        </h3>
                        <span class="event-desc">반려동물의 치아 건강을 위한</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="event-product-image image-hover"></a>
                    <a href="#" class="event-product-detail">
                        <h3 class="event-title">델링 최대 25% 할인</h3>
                        <span class="event-desc">어디서나 간편히, 다양한 소스를!</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="event-product-image image-hover"></a>
                    <a href="#" class="event-product-detail">
                        <h3 class="event-title">우리 한우 20% 쿠폰 EVENT</h3>
                        <span class="event-desc">봄철 기운을 돋워줄 우리 한우</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>


    <section class="md-recommend section">
        <div class="container">
            <h2 class="title">MD의 추천</h2>

            <div class="md-category-box">
                <ul class="md-category-items">
                    <li>
                        <a class="md-vege">채소</a>
                    </li>
                    <li>
                        <a class="md-fruit">과일·견과·쌀</a>
                    </li>
                    <li>
                        <a class="md-fish">수산·해산·건어물</a>
                    </li>
                    <li>
                        <a class="md-meat">정육·계란</a>
                    </li>
                    <li>
                        <a class="md-soup">국·반찬·메인요리</a>
                    </li>
                    <li>
                        <a class="md-salad">샐러드·간편식</a>
                    </li>
                    <li>
                        <a class="md-sauce">면·양념·오일</a>
                    </li>
                    <li>
                        <a class="md-drink">생수·음료·우유·커피</a>
                    </li>
                    <li>
                        <a class="md-snack">간식·과자·떡</a>
                    </li>
                    <li>
                        <a class="md-deli">베이커리·치즈·델리</a>
                    </li>
                    <li>
                        <a class="md-health">건강식품</a>
                    </li>
                    <li>
                        <a class="md-living">생활용품·리빙</a>
                    </li>
                    <li>
                        <a class="md-beauty">뷰티·바디케어</a>
                    </li>
                    <li>
                        <a class="md-kitchen">주방용품</a>
                    </li>
                    <li>
                        <a class="md-appliance">가전제품</a>
                    </li>
                    <li>
                        <a class="md-kids">베이비·키즈</a>
                    </li>
                    <li>
                        <a class="md-pet">반려동물</a>
                    </li>
                </ul>
            </div>

            <div class="product-slide">
                <div class="product-slide-wrap">
                    <div class="product-box">
                        <ul class="md-items">
                            <li>
                                <a href="#" class="cheap-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [셀퓨전씨] 트리악 모공 톡스 패드 60매
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">5%</strong>
                                    <strong class="final-price">15,675원</strong>
                                    <span class="regular-price">16,500원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="cheap-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [헤드스파7] 파란눈 블랙 헤어팩 200ml
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">20%</strong>
                                    <strong class="final-price">10,000원</strong>
                                    <span class="regular-price">12,500원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="cheap-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [미쟝센] 퍼펙트세럼 오리지널 80ml
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">15%</strong>
                                    <strong class="final-price">5,525원</strong>
                                    <span class="regular-price">6,500원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="cheap-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [한미양행] 눈부신 비타민D 4000IU (90일분)
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">40%</strong>
                                    <strong class="final-price">8,940원</strong>
                                    <span class="regular-price">14,900원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="cheap-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">[홈스타] 욕실용 세정제</h3>
                                </a>
                                <div class="product-price">
                                    <strong class="final-price">4,950원</strong>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="cheap-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [크리넥스] 안심 물티슈 캡 60매
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="final-price">2,700원</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <a href="#" class="more-product-link">
                생활용품·리빙 전체보기
                <button type="button" class="more-arrow"></button>
            </a>

            <div class="product-button-direction">
                <button type="button" class="md-prev-button"></button>
                <button type="button" class="md-next-button"></button>
            </div>
        </div>
    </section>

    <section class="banner">
        <div class="container">
            <a href="#" class="banner-lucky-cart">
                <h3>장바구니 자랑하면 5천원의 행운이 매일!</h3>
                <span>매일 20분께 드리는 적립금 혜택!</span>
            </a>
        </div>
    </section>


    <section class="popular-product section">
        <div class="container">
            <a href="#">
                <h2 class="title">
                    지금 가장 핫한 상품
                    <button type="button" class="title-arrow"></button>
                </h2>
            </a>

            <div class="product-slide">
                <div class="product-slide-wrap">
                    <div class="product-box">
                        <ul class="popular-items">
                            <li>
                                <a href="#" class="popular-product-image image-hover">
                                    <div class="coupon">20%농할쿠폰</div>
                                </a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [태우한우] 1+ 한우 안심 구이용 200g(냉장)
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">15%</strong>
                                    <strong class="final-price">33,150원</strong>
                                    <span class="regular-price">39,000원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="popular-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [EasyCook] 손질 꽃게 450~550g(냉동)
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">5%</strong>
                                    <strong class="final-price">15,150원</strong>
                                    <span class="regular-price">15,900원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="popular-product-image image-hover"></a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [하림] 무항생제 닭가슴살 다짐육
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">10%</strong>
                                    <strong class="final-price">6,480원</strong>
                                    <span class="regular-price">7,200원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="popular-product-image image-hover">
                                    <div class="coupon">20%수산쿠폰</div>
                                </a>
                                <a href="#">
                                    <h3 class="product-name">
                                        [우주] 은빛제주통갈치(특대) 600g 내외(냉동)
                                    </h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">15%</strong>
                                    <strong class="final-price">33,915원</strong>
                                    <span class="regular-price">39.900원</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="popular-product-image image-hover"> </a>
                                <a href="#">
                                    <h3 class="product-name">[KART] 버섯 비프 카레</h3>
                                </a>
                                <div class="product-price">
                                    <strong class="final-price">3,900원</strong>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="popular-product-image image-hover"> </a>
                                <a href="#">
                                    <h3 class="product-name">청도 미나리 2종</h3>
                                </a>
                                <div class="product-price">
                                    <strong class="discount-rate">7%</strong>
                                    <strong class="final-price">4,278원</strong>
                                    <span class="regular-price">4,600원</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="product-button-direction">
                <button type="button" class="popular-prev-button"></button>
                <button type="button" class="popular-next-button"></button>
            </div>
        </div>
    </section>


    <section class="review section">
        <div class="container">
            <h2 class="title">인스타그램 고객 후기</h2>

            <div class="product-box">
                <ul class="review-items">
                    <li>
                        <a href="#" class="review-image"></a>
                    </li>
                    <li>
                        <a href="#" class="review-image"></a>
                    </li>
                    <li>
                        <a href="#" class="review-image"></a>
                    </li>
                    <li>
                        <a href="#" class="review-image"></a>
                    </li>
                    <li>
                        <a href="#" class="review-image"></a>
                    </li>
                    <li>
                        <a href="#" class="review-image"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="more-review-box">
            <span class="more-review-desc">더 많은 고객 후기가 궁금하다면?</span>
            <a
                    href="https://www.instagram.com/marketkurly_regram/"
                    target="_blank"
                    class="more-review-link"
            >
                @marketkurly_regram
            </a>
        </div>
    </section>

    <section class="banner">
        <div class="container">
            <a href="#" class="banner-delivery"></a>
        </div>
    </section>

    <section class="quick-menu">
        <div class="quick-notice-image">
            <a href="#">
                <img src="{% static 'assets/quick.webp' %}" alt=""/>
            </a>
        </div>

        <ul class="quick-items">
            <li>
                <a href="#">등급별 혜택</a>
            </li>
            <li>
                <a href="#">레시피</a>
            </li>
            <li>
                <a href="#">베스트 후기</a>
            </li>
        </ul>
    </section>
</main>
{% endblock %}