@charset "utf-8";


/* Fonts */

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 100;
    src: local('※'),
        url('/bigdatafarm/font/NanumSquareL.woff2') format('woff2'), 
        url('/bigdatafarm/font/NanumSquareL.woff') format('woff'),
        url('/bigdatafarm/font/NanumSquareL.ttf') format('truetype'),
        url('/bigdatafarm/font/NanumSquareL.otf') format('opentype'),
        url('/bigdatafarm/font/NanumSquareL.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('/bigdatafarm/font/NanumSquareR.woff2') format('woff2'), 
        url('/bigdatafarm/font/NanumSquareR.woff') format('woff'),
        url('/bigdatafarm/font/NanumSquareR.ttf') format('truetype'),
        url('/bigdatafarm/font/NanumSquareR.otf') format('opentype'),
        url('/bigdatafarm/font/NanumSquareR.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
        url('/bigdatafarm/font/NanumSquareB.woff2') format('woff2'), 
        url('/bigdatafarm/font/NanumSquareB.woff') format('woff'),
        url('/bigdatafarm/font/NanumSquareB.ttf') format('truetype'),
        url('/bigdatafarm/font/NanumSquareB.otf') format('opentype'),
        url('/bigdatafarm/font/NanumSquareB.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 900;
    src: local('※'),
        url('/bigdatafarm/font/NanumSquareEB.woff2') format('woff2'), 
        url('/bigdatafarm/font/NanumSquareEB.woff') format('woff'),
        url('/bigdatafarm/font/NanumSquareEB.ttf') format('truetype'),
        url('/bigdatafarm/font/NanumSquareEB.otf') format('opentype'),
        url('/bigdatafarm/font/NanumSquareEB.eot') format('embedded-opentype');
}



@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 100;
  src: local('※'),
      url('/bigdatafarm/font/NanumGothicL.woff2') format('woff2'), 
      url('/bigdatafarm/font/NanumGothicL.woff') format('woff'),
      url('/bigdatafarm/font/NanumGothicL.ttf') format('truetype'),
      url('/bigdatafarm/font/NanumGothicL.otf') format('opentype'),
      url('/bigdatafarm/font/NanumGothicL.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
      url('/bigdatafarm/font/NanumGothicR.woff2') format('woff2'), 
      url('/bigdatafarm/font/NanumGothicR.woff') format('woff'),
      url('/bigdatafarm/font/NanumGothicR.ttf') format('truetype'),
      url('/bigdatafarm/font/NanumGothicR.otf') format('opentype'),
      url('/bigdatafarm/font/NanumGothicR.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
      url('/bigdatafarm/font/NanumGothicB.woff2') format('woff2'), 
      url('/bigdatafarm/font/NanumGothicB.woff') format('woff'),
      url('/bigdatafarm/font/NanumGothicB.ttf') format('truetype'),
      url('/bigdatafarm/font/NanumGothicB.otf') format('opentype'),
      url('/bigdatafarm/font/NanumGothicB.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 900;
  src: local('※'),
      url('/bigdatafarm/font/NanumGothicEB.woff2') format('woff2'), 
      url('/bigdatafarm/font/NanumGothicEB.woff') format('woff'),
      url('/bigdatafarm/font/NanumGothicEB.ttf') format('truetype'),
      url('/bigdatafarm/font/NanumGothicEB.otf') format('opentype'),
      url('/bigdatafarm/font/NanumGothicEB.eot') format('embedded-opentype');
}


/*noto*/
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  font-style :normal;
  src : url('/bigdatafarm/font/NotoSans-Thin.eot') format('eot'),
  url('/bigdatafarm/font/NotoSans-Thin.otf') format('opentype'),
  url('/bigdatafarm/font/NotoSans-Thin.woff') format('woff'),
  url('/bigdatafarm/font/NotoSans-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 200;
  font-style: normal;
  src: url('/bigdatafarm/font/NotoSans-Light.eot') format('eot'),
  url('/bigdatafarm/font/NotoSans-Light.otf') format('opentype'),
  url('/bigdatafarm/font/NotoSans-Light.woff') format('woff'),
  url('/bigdatafarm/font/NotoSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-style: normal;
  src: url('/bigdatafarm/font/NotoSans-DemiLight.eot') format('eot'),
  url('/bigdatafarm/font/NotoSans-DemiLight.otf') format('opentype'),
  url('/bigdatafarm/font/NotoSans-DemiLight.woff') format('woff'),
  url('/bigdatafarm/font/NotoSans-DemiLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;
  src: url('..fontsNotoSans-Regular.eot') format('eot'),
  url('/bigdatafarm/font/NotoSans-Regular.otf') format('opentype'),
  url('/bigdatafarm/font/NotoSans-Regular.woff') format('woff'),
  url('/bigdatafarm/font/NotoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-style: normal;
  src: url('/bigdatafarm/font/NotoSans-Medium.eot') format('eot'),
  url('/bigdatafarm/font/NotoSans-Medium.otf') format('opentype'),
  url('/bigdatafarm/font/NotoSans-Medium.woff') format('woff'),
  url('/bigdatafarm/font/NotoSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-style: normal;
  src: url('..fontsNotoSans-Black.eot') format('eot'),
  url('/bigdatafarm/font/NotoSans-Black.otf') format('opentype'),
  url('/bigdatafarm/font/NotoSans-Black.woff') format('woff'),
  url('/bigdatafarm/font/NotoSans-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  font-style: normal;
  src: url('..fontsNotoSans-Bold.eot') format('eot'),
  url('/bigdatafarm/font/NotoSans-Bold.otf') format('opentype'),
  url('/bigdatafarm/font/NotoSans-Bold.woff') format('woff'),
  url('/bigdatafarm/font/NotoSans-Bold.woff2') format('woff2');
}



/*========================================== Basic ================================================*/
/* 위치 */
.rel {position:relative !important;}
.abs {position:absolute !important;}
.blind {display:block !important; overflow:hidden !important; position:absolute !important; left:-9999px !important; width:1px !important; height:1px !important; font-size:0 !important; line-height:0 !important; text-indent:-9999px !important;}
.table_fixed {table-layout:fixed !important;}

/*======================================= Margin/Padding ==========================================*/
/* margin */

.mg0 {margin:0px !important;} .mg1 {margin:1px !important;} .mg2 {margin:2px !important;} .mg3 {margin:3px !important;} .mg4 {margin:4px !important;} .mg5 {margin:5px !important;} .mg6 {margin:6px !important;} .mg7 {margin:7px !important;} .mg8 {margin:8px !important;} .mg9 {margin:9px !important;} .mg10 {margin:10px !important;} .mg15 {margin:15px !important;} .mg20 {margin:20px !important;} .mg25 {margin:25px !important;} .mg30 {margin:30px !important;} .mg35 {margin:35px !important;} .mg40 {margin:40px !important;} .mg45 {margin:45px !important;} .mg50 {margin:50px !important;} .mg55 {margin:55px !important;} .mg60 {margin:60px !important;} .m65 {margin:65px !important;} .m70 {margin:70px !important;} .mg75 {margin:75px !important;} .mg80 {margin:80px !important;} .mg85 {margin:85px !important;} .mg90 {margin:90px !important;} .mg95 {margin:95px !important;} .mg100 {margin:100px !important;} .mg110 {margin:110px !important;} .mg120 {margin:120px !important;} .mg130 {margin:130px !important;} .mg140 {margin:140px !important;} .mg150 {margin:150px !important;} .mg160 {margin:160px !important;} .mg170 {margin:170px !important;} .mg180 {margin:180px !important;} .mg190 {margin:190px !important;} .mg200 {margin:200px !important;} .mg250 {margin:250px !important;} .mg300 {margin:300px !important;}

/* mt */
.mt0 {margin-top:0px !important;} .mt1 {margin-top:1px !important;} .mt2 {margin-top:2px !important;} .mt3 {margin-top:3px !important;} .mt4 {margin-top:4px !important;} .mt5 {margin-top:5px !important;} .mt10 {margin-top:10px !important;} .mt15 {margin-top:15px !important;} .mt20 {margin-top:20px !important;} .mt25 {margin-top:25px !important;} .mt30 {margin-top:30px !important;} .mt35 {margin-top:35px !important;} .mt40 {margin-top:40px !important;} .mt45 {margin-top:45px !important;} .mt50 {margin-top:50px !important;} .mt55 {margin-top:55px !important;} .mt60 {margin-top:60px !important;} .mt65 {margin-top:65px !important;} .mt70 {margin-top:70px !important;} .mt75 {margin-top:75px !important;} .mt80 {margin-top:80px !important;} .mt85 {margin-top:85px !important;} .mt90 {margin-top:90px !important;} .mt95 {margin-top:95px !important;} .mt100 {margin-top:100px !important;} .mt110 {margin-top:110px !important;} .mt120 {margin-top:120px !important;} .mt130 {margin-top:130px !important;} .mt140 {margin-top:140px !important;} .mt150 {margin-top:150px !important;} .mt160 {margin-top:160px !important;} .mt170 {margin-top:170px !important;} .mt180 {margin-top:180px !important;} .mt190 {margin-top:190px !important;} .mt200 {margin-top:200px !important;} .mt210 {margin-top:210px !important;} .mt220 {margin-top:220px !important;} .mt230 {margin-top:230px !important;} .mt240 {margin-top:240px !important;} .mt250 {margin-top:250px !important;} .mt260 {margin-top:260px !important;} .mt270 {margin-top:270px !important;} .mt280 {margin-top:280px !important;} .mt290 {margin-top:290px !important;} .mt300 {margin-top:300px !important;}

/* ml */
.ml0 {margin-left:0px !important;} .ml1 {margin-left:1px !important;} .ml2 {margin-left:2px !important;} .ml3 {margin-left:3px !important;} .ml4 {margin-left:4px !important;} .ml5 {margin-left:5px !important;} .ml10 {margin-left:10px !important;} .ml15 {margin-left:15px !important;} .ml16 {margin-left:16px !important;} .ml20 {margin-left:20px !important;} .ml25 {margin-left:25px !important;} .ml30 {margin-left:30px !important;} .ml35 {margin-left:35px !important;} .ml40 {margin-left:40px !important;} .ml45 {margin-left:45px !important;} .ml50 {margin-left:50px !important;} .ml55 {margin-left:55px !important;} .ml60 {margin-left:60px !important;} .ml65 {margin-left:65px !important;} .ml70 {margin-left:70px !important;} .ml75 {margin-left:75px !important;} .ml80 {margin-left:80px !important;} .ml85 {margin-left:85px !important;} .ml90 {margin-left:90px !important;} .ml95 {margin-left:95px !important;} .ml100 {margin-left:100px !important;} .ml110 {margin-left:110px !important;} .ml115 {margin-left:115px !important;} .ml120 {margin-left:120px !important;} .ml130 {margin-left:130px !important;} .ml140 {margin-left:140px !important;} .ml150 {margin-left:150px !important;} .ml160 {margin-left:160px !important;} .ml170 {margin-left:170px !important;} .ml180 {margin-left:180px !important;} .ml190 {margin-left:190px !important;} .ml200 {margin-left:200px !important;} .ml210 {margin-left:210px !important;} .ml220 {margin-left:220px !important;} .ml230 {margin-left:230px !important;} .ml240 {margin-left:240px !important;} .ml250 {margin-left:250px !important;} .ml260 {margin-left:260px !important;} .ml270 {margin-left:270px !important;} .ml280 {margin-left:280px !important;} .ml290 {margin-left:290px !important;} .ml300 {margin-left:300px !important;} .ml320 {margin-left:320px !important;}

/* mr */
.mr0 {margin-right:0px !important;} .mr1 {margin-right:1px !important;} .mr2 {margin-right:2px !important;} .mr3 {margin-right:3px !important;} .mr4 {margin-right:4px !important;} .mr5 {margin-right:5px !important;} .mr10 {margin-right:10px !important;} .mr15 {margin-right:15px !important;} .mr20 {margin-right:20px !important;} .mr25 {margin-right:25px !important;} .mr30 {margin-right:30px !important;} .mr35 {margin-right:35px !important;} .mr40 {margin-right:40px !important;} .mr45 {margin-right:45px !important;} .mr50 {margin-right:50px !important;} .mr55 {margin-right:55px !important;} .mr60 {margin-right:60px !important;} .mr65 {margin-right:65px !important;} .mr70 {margin-right:70px !important;} .mr75 {margin-right:75px !important;} .mr80 {margin-right:80px !important;} .mr85 {margin-right:85px !important;} .mr90 {margin-right:90px !important;} .mr95 {margin-right:95px !important;} .mr100 {margin-right:100px !important;} .mr110 {margin-right:110px !important;} .mr120 {margin-right:120px !important;} .mr130 {margin-right:130px !important;} .mr140 {margin-right:140px !important;} .mr150 {margin-right:150px !important;} .mr160 {margin-right:160px !important;} .mr170 {margin-right:170px !important;} .mr180 {margin-right:180px !important;} .mr190 {margin-right:190px !important;} .mr200 {margin-right:200px !important;} .mr210 {margin-right:210px !important;} .mr220 {margin-right:220px !important;} .mr230 {margin-right:230px !important;} .mr240 {margin-right:240px !important;} .mr250 {margin-right:250px !important;} .mr260 {margin-right:260px !important;} .mr270 {margin-right:270px !important;} .mr280 {margin-right:280px !important;} .mr290 {margin-right:290px !important;} .mr300 {margin-right:300px !important;}

/* mb */
.mb0 {margin-bottom:0px !important;} .mb1 {margin-bottom:1px !important;} .mb2 {margin-bottom:2px !important;} .mb3 {margin-bottom:3px !important;} .mb4 {margin-bottom:4px !important;} .mb5 {margin-bottom:5px !important;} .mb10 {margin-bottom:10px !important;} .mb15 {margin-bottom:15px !important;} .mb20 {margin-bottom:20px !important;} .mb25 {margin-bottom:25px !important;} .mb30 {margin-bottom:30px !important;} .mb35 {margin-bottom:35px !important;} .mb40 {margin-bottom:40px !important;} .mb45 {margin-bottom:45px !important;} .mb50 {margin-bottom:50px !important;} .mb55 {margin-bottom:55px !important;} .mb60 {margin-bottom:60px !important;} .mb65 {margin-bottom:65px !important;} .mb70 {margin-bottom:70px !important;} .mb75 {margin-bottom:75px !important;} .mb80 {margin-bottom:80px !important;} .mb85 {margin-bottom:85px !important;} .mb90 {margin-bottom:90px !important;} .mb95 {margin-bottom:95px !important;} .mb100 {margin-bottom:100px !important;} .mb110 {margin-bottom:110px !important;} .mb120 {margin-bottom:120px !important;} .mb130 {margin-bottom:130px !important;} .mb140 {margin-bottom:140px !important;} .mb150 {margin-bottom:150px !important;} .mb160 {margin-bottom:160px !important;} .mb170 {margin-bottom:170px !important;} .mb180 {margin-bottom:180px !important;} .mb190 {margin-bottom:190px !important;} .mb200 {margin-bottom:200px !important;} .mb210 {margin-bottom:210px !important;} .mb220 {margin-bottom:220px !important;} .mb230 {margin-bottom:230px !important;} .mb240 {margin-bottom:240px !important;} .mb250 {margin-bottom:250px !important;} .mb260 {margin-bottom:260px !important;} .mb270 {margin-bottom:270px !important;} .mb280 {margin-bottom:280px !important;} .mb290 {margin-bottom:290px !important;} .mb300 {margin-bottom:300px !important;}

/* padding*/
.p0 {padding:0px !important;} .p1 {padding:1px !important;} .p2 {padding:2px !important;} .p3 {padding:3px !important;} .p4 {padding:4px !important;} .p5 {padding:5px !important;} .p6 {padding:6px !important;} .p7 {padding:7px !important;} .p8 {padding:8px !important;} .p9 {padding:9px !important;} .p10 {padding:10px !important;} .p15 {padding:15px !important;} .p20 {padding:20px !important;} .p25 {padding:25px !important;} .p30 {padding:30px !important;} .p35 {padding:35px !important;} .p40 {padding:40px !important;} .p45 {padding:45px !important;} .p50 {padding:50px !important;} .p55 {padding:55px !important;} .p60 {padding:60px !important;} .p65 {padding:65px !important;} .p70 {padding:70px !important;} .p75 {padding:75px !important;} .p80 {padding:80px !important;} .p85 {padding:85px !important;} .p90 {padding:90px !important;} .p95 {padding:95px !important;} .p100 {padding:100px !important;} .p110 {padding:110px !important;} .p120 {padding:120px !important;} .p130 {padding:130px !important;} .p140 {padding:140px !important;} .p150 {padding:150px !important;} .p160 {padding:160px !important;} .p170 {padding:170px !important;} .p180 {padding:180px !important;} .p190 {padding:190px !important;} .p200 {padding:200px !important;} .p250 {padding:250px !important;} .p300 {padding:300px !important;}

/* pt */
.pt0 {padding-top:0px !important;} .pt1 {padding-top:1px !important;} .pt2 {padding-top:2px !important;} .pt3 {padding-top:3px !important;} .pt4 {padding-top:4px !important;} .pt5 {padding-top:5px !important;} .pt10 {padding-top:10px !important;} .pt15 {padding-top:15px !important;} .pt20 {padding-top:20px !important;} .pt25 {padding-top:25px !important;} .pt30 {padding-top:30px !important;} .pt35 {padding-top:35px !important;} .pt40 {padding-top:40px !important;} .pt45 {padding-top:45px !important;} .pt50 {padding-top:50px !important;} .pt55 {padding-top:55px !important;} .pt60 {padding-top:60px !important;} .pt65 {padding-top:65px !important;} .pt70 {padding-top:70px !important;} .pt75 {padding-top:75px !important;} .pt80 {padding-top:80px !important;} .pt85 {padding-top:85px !important;} .pt90 {padding-top:90px !important;} .pt95 {padding-top:95px !important;} .pt100 {padding-top:100px !important;} .pt110 {padding-top:110px !important;} .pt120 {padding-top:120px !important;} .pt130 {padding-top:130px !important;} .pt140 {padding-top:140px !important;} .pt150 {padding-top:150px !important;} .pt160 {padding-top:160px !important;} .pt170 {padding-top:170px !important;} .pt180 {padding-top:180px !important;} .pt190 {padding-top:190px !important;} .pt200 {padding-top:200px !important;} .pt210 {padding-top:210px !important;} .pt220 {padding-top:220px !important;} .pt230 {padding-top:230px !important;} .pt240 {padding-top:240px !important;} .pt250 {padding-top:250px !important;} .pt260 {padding-top:260px !important;} .pt270 {padding-top:270px !important;} .pt280 {padding-top:280px !important;} .pt290 {padding-top:290px !important;} .pt300 {padding-top:300px !important;}

/* pl */
.pl0 {padding-left:0px !important;} .pl1 {padding-left:1px !important;} .pl2 {padding-left:2px !important;} .pl3 {padding-left:3px !important;} .pl4 {padding-left:4px !important;} .pl5 {padding-left:5px !important;} .pl10 {padding-left:10px !important;} .pl15 {padding-left:15px !important;} .pl20 {padding-left:20px !important;} .pl25 {padding-left:25px !important;} .pl30 {padding-left:30px !important;} .pl35 {padding-left:35px !important;} .pl40 {padding-left:40px !important;} .pl45 {padding-left:45px !important;} .pl50 {padding-left:50px !important;} .pl55 {padding-left:55px !important;} .pl60 {padding-left:60px !important;} .pl65 {padding-left:65px !important;} .pl70 {padding-left:70px !important;} .pl75 {padding-left:75px !important;} .pl80 {padding-left:80px !important;} .pl85 {padding-left:85px !important;} .pl90 {padding-left:90px !important;} .pl95 {padding-left:95px !important;} .pl100 {padding-left:100px !important;} .pl110 {padding-left:110px !important;} .pl120 {padding-left:120px !important;} .pl130 {padding-left:130px !important;} .pl140 {padding-left:140px !important;} .pl150 {padding-left:150px !important;} .pl160 {padding-left:160px !important;} .pl170 {padding-left:170px !important;} .pl180 {padding-left:180px !important;} .pl190 {padding-left:190px !important;} .pl200 {padding-left:200px !important;} .pl210 {padding-left:210px !important;} .pl220 {padding-left:220px !important;} .pl230 {padding-left:230px !important;} .pl240 {padding-left:240px !important;} .pl250 {padding-left:250px !important;} .pl260 {padding-left:260px !important;} .pl270 {padding-left:270px !important;} .pl280 {padding-left:280px !important;} .pl290 {padding-left:290px !important;} .pl300 {padding-left:300px !important;}

/* pr */
.pr0 {padding-right:0px !important;} .pr1 {padding-right:1px !important;} .pr2 {padding-right:2px !important;} .pr3 {padding-right:3px !important;} .pr4 {padding-right:4px !important;} .pr5 {padding-right:5px !important;} .pr10 {padding-right:10px !important;} .pr15 {padding-right:15px !important;} .pr20 {padding-right:20px !important;} .pr25 {padding-right:25px !important;} .pr30 {padding-right:30px !important;} .pr35 {padding-right:35px !important;} .pr40 {padding-right:40px !important;} .pr45 {padding-right:45px !important;} .pr50 {padding-right:50px !important;} .pr55 {padding-right:55px !important;} .pr60 {padding-right:60px !important;} .pr65 {padding-right:65px !important;} .pr70 {padding-right:70px !important;} .pr75 {padding-right:75px !important;} .pr80 {padding-right:80px !important;} .pr85 {padding-right:85px !important;} .pr90 {padding-right:90px !important;} .pr95 {padding-right:95px !important;} .pr100 {padding-right:100px !important;} .pr110 {padding-right:110px !important;} .pr120 {padding-right:120px !important;} .pr130 {padding-right:130px !important;} .pr140 {padding-right:140px !important;} .pr150 {padding-right:150px !important;} .pr160 {padding-right:160px !important;} .pr170 {padding-right:170px !important;} .pr180 {padding-right:180px !important;} .pr190 {padding-right:190px !important;} .pr200 {padding-right:200px !important;} .pr210 {padding-right:210px !important;} .pr220 {padding-right:220px !important;} .pr230 {padding-right:230px !important;} .pr240 {padding-right:240px !important;} .pr250 {padding-right:250px !important;} .pr260 {padding-right:260px !important;} .pr270 {padding-right:270px !important;} .pr280 {padding-right:280px !important;} .pr290 {padding-right:290px !important;} .pr300 {padding-right:300px !important;}

/* pb */
.pb0 {padding-bottom:0px !important;} .pb1 {padding-bottom:1px !important;} .pb2 {padding-bottom:2px !important;} .pb3 {padding-bottom:3px !important;} .pb4 {padding-bottom:4px !important;} .pb5 {padding-bottom:5px !important;} .pb10 {padding-bottom:10px !important;} .pb15 {padding-bottom:15px !important;} .pb20 {padding-bottom:20px !important;} .pb25 {padding-bottom:25px !important;} .pb30 {padding-bottom:30px !important;} .pb35 {padding-bottom:35px !important;} .pb40 {padding-bottom:40px !important;} .pb45 {padding-bottom:45px !important;} .pb50 {padding-bottom:50px !important;} .pb55 {padding-bottom:55px !important;} .pb60 {padding-bottom:60px !important;} .pb65 {padding-bottom:65px !important;} .pb70 {padding-bottom:70px !important;} .pb75 {padding-bottom:75px !important;} .pb80 {padding-bottom:80px !important;} .pb85 {padding-bottom:85px !important;} .pb90 {padding-bottom:90px !important;} .pb95 {padding-bottom:95px !important;} .pb100 {padding-bottom:100px !important;} .pb110 {padding-bottom:110px !important;} .pb120 {padding-bottom:120px !important;} .pb130 {padding-bottom:130px !important;} .pb140 {padding-bottom:140px !important;} .pb150 {padding-bottom:150px !important;} .pb160 {padding-bottom:160px !important;} .pb170 {padding-bottom:170px !important;} .pb180 {padding-bottom:180px !important;} .pb190 {padding-bottom:190px !important;} .pb200 {padding-bottom:200px !important;} .pb210 {padding-bottom:210px !important;} .pb220 {padding-bottom:220px !important;} .pb230 {padding-bottom:230px !important;} .pb240 {padding-bottom:240px !important;} .pb250 {padding-bottom:250px !important;} .pb260 {padding-bottom:260px !important;} .pb270 {padding-bottom:270px !important;} .pb280 {padding-bottom:280px !important;} .pb290 {padding-bottom:290px !important;} .pb300 {padding-bottom:300px !important;}

/* width-px */
.w5 {width:5px !important;} .w10 {width:10px !important;} .w15 {width:15px !important;} .w20 {width:20px !important;} .w25 {width:25px !important;} .w30 {width:30px !important;} .w35 {width:35px !important;} .w40 {width:40px !important;} .w45 {width:45px !important;} .w50 {width:50px !important;} .w55 {width:55px !important;} .w60 {width:60px !important;} .w65 {width:65px !important;} .w70 {width:70px !important;} .w75 {width:75px !important;} .w80 {width:80px !important;} .w85 {width:85px !important;} .w90 {width:90px !important;} .w95 {width:95px !important;} .w100 {width:100px !important;} .w110 {width:110px !important;} .w120 {width:120px !important;} .w130 {width:130px !important;} .w140 {width:140px !important;} .w150 {width:150px !important;} .w160 {width:160px !important;} .w170 {width:170px !important;} .w180 {width:180px !important;} .w190 {width:190px !important;} .w200 {width:200px !important;} .w210 {width:210px !important;} .w220 {width:220px !important;} .w230 {width:230px !important;} .w240 {width:240px !important;} .w250 {width:250px !important;} .w260 {width:260px !important;} .w270 {width:270px !important;} .w280 {width:280px !important;} .w290 {width:290px !important;} .w300 {width:300px !important;} .w310 {width:310px !important;} .w320 {width:320px !important;} .w330 {width:3430px !important;} .w340 {width:340px !important;} .w350 {width:350px !important;} .w360 {width:360px !important;} .w370 {width:370px !important;} .w380 {width:380px !important;} .w390 {width:390px !important;} .w400 {width:400px !important;} .w410 {width:410px !important;} .w420 {width:420px !important;} .w430 {width:430px !important;} .w440 {width:440px !important;} .w450 {width:450px !important;} .w460 {width:460px !important;} .w470 {width:470px !important;} .w480 {width:480px !important;} .w490 {width:490px !important;} .w500 {width:500px !important;} .w510 {width:510px !important;} .w550 {width:550px !important;} .w600 {width:600px !important;} .w650 {width:650px !important;} .w700 {width:700px !important;} .w750 {width:750px !important;} .w800 {width:800px !important;} .w850 {width:850px !important;} .w900 {width:900px !important;} .w950 {width:950px !important;} .w1000 {width:1000px !important;}

/* width-per */
.w1p {width:1% !important;} .w2p {width:2% !important;} .w3p {width:3% !important;} .w4p {width:4% !important;} .w5p {width:5% !important;} .w6p {width:6% !important;} .w7p {width:7% !important;} .w8p {width:8% !important;} .w9p {width:9% !important;} .w10p {width:10% !important;} .w15p {width:15% !important;} .w20p {width:20% !important;} .w25p {width:25% !important;} .w30p {width:30% !important;} .w33p {width:33.333333% !important;} .w35p {width:35% !important;} .w40p {width:40% !important;} .w45p {width:45% !important;} .w46p {width:46% !important;} .w47p {width:47% !important;} .w48p {width:48% !important;} .w49p {width:49% !important;} .w50p {width:50% !important;} .w55p {width:55% !important;} .w60p {width:60% !important;} .w65p {width:65% !important;} .w70p {width:70% !important;} .w75p {width:75% !important;} .w80p {width:80% !important;} .w85p {width:85% !important;} .w90p {width:90% !important;} .w95p {width:95% !important;} .w100p {width:100% !important;}

.max_w100{max-width:100% !important;}

/* hight */
.hg5 {height:5px !important;} .hg10 {height:10px !important;} .hg15 {height:15px !important;} .hg20 {height:20px !important;} .hg25 {height:25px !important;} .hg30 {height:30px !important;} .hg35 {height:35px !important;} .hg40 {height:40px !important;} .hg45 {height:45px !important;} .hg48 {height:48px !important;} .hg50 {height:50px !important;} .hg55 {height:55px !important;} .hg60 {height:60px !important;} .hg65 {height:65px !important;} .hg70 {height:70px !important;} .hg75 {height:75px !important;} .hg80 {height:80px !important;} .hg85 {height:85px !important;} .hg90 {height:90px !important;} .hg95 {height:95px !important;} .hg100 {height:100px !important;} .hg110 {height:110px !important;} .hg120 {height:120px !important;} .hg130 {height:130px !important;} .hg140 {height:140px !important;} .hg150 {height:150px !important;} .hg160 {height:160px !important;} .hg170 {height:170px !important;} .hg180 {height:180px !important;} .hg190 {height:190px !important;} .hg200 {height:200px !important;} .hg210 {height:210px !important;} .hg220 {height:220px !important;} .hg230 {height:230px !important;} .hg240 {height:240px !important;} .hg250 {height:250px !important;} .hg260 {height:260px !important;} .hg270 {height:270px !important;} .hg280 {height:280px !important;} .hg290 {height:290px !important;} .h300 {height:300px !important;} .hg350 {height:350px !important;} .hg400 {height:400px !important;} .hg450 {height:450px !important;} .hg500 {height:500px !important;} .hg550 {height:550px !important;} .hg600 {height:600px !important;} .hg650 {height:650px !important;} .hg700 {height:700px !important;} .hg750 {height:750px !important;} .hg800 {height:800px !important;} .hg850 {height:850px !important;} .hg900 {height:900px !important;} .hg950 {height:950px !important;} .hg1000 {height:1000px !important;}




/* display */
.inline{display:inline !important;}
.inline_b{display:inline-block !important;}
.block{display:block !important;}
.none {display:none !important;}
.ir_img{font-size:0;line-height:0;text-indent:-9999px;}
.pc1{display:block;}
.pc2{display:inline-block;}
.mo1,.mo2, .mo600{display:none;}
.pc_bk{display:block;} 

/*=========================================== Align ==============================================*/
/* css 기본값 정의 */
.blank {margin:0; padding:0; border:none; background:none;}
.btn {cursor:pointer;}
i.btn {cursor:default;}
.ib {display:inline-block; vertical-align:middle;}
.area {display:inline-block; vertical-align:middle; width:100%;}
.bundle {display:inline-block; vertical-align:middle; float:left;}
.ac {margin:0 auto;}
.test {border:red solid 1px}
.scroll {overflow:auto;}

/* 정렬 */
.fl{float:left !important;}
.fr{float:right !important;}
.fn{float:none !important;}

.clear{clear:both;}
.clearfix{width:100%;}
.clearfix:after{content:"";display:block;visibility:hidden;clear:both;}

/* 텍스트정렬 */
.tal{text-align:left !important;}
.left{text-align:left !important;}
.tar{text-align:right !important;}
.right{text-align:right !important;}
.tac{text-align:center !important;}
.center{text-align:center !important;}
.taj{text-align:justify !important;}

/* 세로정렬 */
.vam{vertical-align:middle !important;}
.vat{vertical-align:top;}
.vab{vertical-align:bottom;}

/*========================================== img ================================================*/
/* img */
.img_area{display:inline-block; width:100%; padding:20px 0 20px 0; text-align:center;} /*0904추가*/
.img_area img{display:inline-block; max-width:100%;}
.max_img100{max-width:100%;}

/*========================================== Font ================================================*/

/* ellipsis */
.ellipsis {text-overflow:ellipsis; overflow:hidden; white-space:nowrap; -moz-binding:url(/assets/css/ellipsis.xml#ellipsis);}

/* title */
h2.h2{position: relative;padding-bottom: 9px;border-bottom: 1px solid #e0e0e0;font-size: 26.69px;font-weight: 800;}
h2.h2::before{content: '';display: inline-block;margin-right: 6px;width: 18px;height: 28px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png') 89% 62% no-repeat;vertical-align: top;}
h2.h2::after {content:'';position: absolute;top: 40px;left: 0;display: block;width: 194px;height:2px;background: #2f2c2d;}
h3.h3{padding-top: 28px;padding-bottom: 15px;/* margin-left: 11px; */color: #093588;background: url('/bigdatafarm/images/common/h3_bl.gif')no-repeat;font-size: 22px;} 
h3.rst_icon{font-size:18px;}
h3.h3.rst_icon::before{content: '';display: inline-block;margin-top: 3px;margin-right: 9px;width: 18px;height: 17px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png') 89% 40% no-repeat;vertical-align: top;}
h4{padding-left: 30px;background: url(/bigdatafarm/images/common/arrow2.gif) no-repeat;background-position: 0 5px;font-size: 1.4em;color: #333;font-weight: 600;} 
h5{margin:3px 0 3px 0px;padding:0 0 5px 43px;font-size:1.188em; color:#444;}
h6{margin:3px 0 3px 0px;padding:0 0 5px 55px;font-size:1.063em; color:#666;}

h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small{font-size:80%; font-weight:normal;}
.small{font-size:80%; font-weight:normal;}



/* text type */
.txt_type1{font-size:1.813em; font-weight:100; padding:5px 0; letter-spacing:-1.5px;}
.txt_type2{font-size:90%; font-weight:100; letter-spacing:-1px; margin:-2px 0;}
.txt_type3{color:#2587e1; font-weight:500;}
.txt_type4{font-size: 14px;font-weight: 100;color: #ff0000;/* width: 100%; */text-align: right;float: right;letter-spacing: -0.5px;}

/* 들여쓰기 */
.txt_h3{margin-left: 35px !important;padding-bottom: 15px;}
.txt_h4{margin-left:50px !important; padding-bottom: 15px;}
.txt_h5{margin-left:50px !important; padding-bottom: 15px;}
.txt_h6{margin-left:58px !important; padding-bottom: 15px;}

/* 폰트 사이즈 */
.fs1{font-size:1em;} /*14px*/
.fs2{font-size:1.143em;} /*16px*/
.fs3{font-size:1.286em;} /*18px*/
.fs4{font-size:1.429em} /*20px*/
.fs5{font-size:1.714em} /*24px*/
.f100p{font-size:100% !important;}
.f110p{font-size:110% !important;}
.f115p{font-size:115% !important;}
.f120p{font-size:120% !important;}
.f130p{font-size:130% !important;}
.f140p{font-size:140% !important;}
.f95p{font-size:95% !important;}
.f90p{font-size:90% !important;}
.f80p{font-size:80% !important;}
.f70p{font-size:70% !important;}
.f60p{font-size:60% !important;}
.f50p{font-size:50% !important;}

/* 폰트 기타 */
.txt_u{text-decoration:underline !important;}
.txt_deco_none{text-decoration:none !important;}
.fw_n{font-weight:normal !important;}
.fw_l{font-weight: 100 !important;}
.fw_2{font-weight: 200 !important;}
.fw_3{font-weight: 300 !important;}
.fw_4{font-weight: 400 !important;}
.fw_5{font-weight: 500 !important;}
.fw_6{font-weight: 600 !important;}
.fw_7{font-weight: 700 !important;}
.fw_8{font-weight: 800 !important;}
.fw_b{font-weight: bold !important;}

/* color-point */
.c_yellow{color:#fffe00 !important;}
.c_blue{color:#0054b3 !important;}
.c_green{color:#1D674E !important;}
.c_green2{color:#1f8419 !important;}
.c_gray{color:#ccc !important;}
.c_bk1{color:#333 !important;}
.c_bk2{color:#111 !important;}
.c_bk3{color:#666 !important;}
.c_red{color:#ff3300 !important;}
.c_red2{color:#e13d00 !important;}
.c_point{color:#9833a0 !important;}
.c_normal{color: #6c6e72 !important;}
.c_orange{color: #f15922 !important;}

/* 상승하락보통색상 */
.txt_nomal{color: #191818;}
.txt_up{color:#d80000;}
.txt_down{color:#0831a4;}


/* 블릿 스타일 */
.bl_dot{display: inline-block;margin-top: 5px;margin-right: 11px;width: 5px;height: 5px;background: #5472e6;line-height: 2.3;vertical-align: top;}

.item {position: relative;float: left;width: 100%;overflow: hidden;}
.img_area .img01 {display: inline-block;}
.img_area .img02 {display: none;}

/*=========================================== Border ==============================================*/
/* line */
.line_none{border:none !important;}
.line_r_none {border-right:none !important;}
.line_l_none {border-left:none !important;}
.line_b_none {border-bottom:none !important;}
.line_t_none {border-top:none !important;}

.line_b {width:100%;border-bottom:1px solid #ccc;box-sizing:border-box;}
.line_b_all > *{width:100%;padding:30px 0;border-bottom:1px solid #ccc;box-sizing:border-box;}
.line_t {width:100%;border-top:1px solid #ccc;box-sizing:border-box;}

.line_t {border-top:1px solid #999 !important}
.line_b {border-bottom:1px solid #999 !important}
.line_t.gray {border-top-color:#ccc !important;}
.line_b.gray {border-bottom-color:#ccc !important;}

.bgnone {background:none !important;}

/*=========================================== list ==============================================*/

#subCnt {padding: 44px 0;}
.container{width: 100%;}


/* list */
/* 4개1줄 */
ul.list_type1{}
ul.list_type1 > li{float: left;margin-left: 3%;width: 22.75%;border: 1px solid #ececec;}
ul.list_type1 > li:nth-child(-4n+5){margin-left: 0;}
ul.list_type1 > li:nth-child(n+5){margin-top: 30px;}
ul.list_type1 > li .content{padding: 15px 21px;width: 100%;}
ul.list_type1 > li ul{padding: 12px 0;}
ul.list_type1 > li ul > li{float: none;margin-top: 5px;margin-left: 0;width: 100%;height:auto;border: 0;text-align: left;}
ul.list_type1 > li ul > li:first-child{margin-top: 0;}
ul.list_type1 > li > a{cursor: pointer;}
ul.list_type1 > li .content {width: 100%;}
ul.list_type1 > li .content span.tit{display: -webkit-box;font-size: 1.1em;font-weight: 600;line-height: 1.5;height: 45px;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal;word-wrap: break-word;}

/* 3개1줄 */
ul.list_type2{}
ul.list_type2 > li{float: left;margin-left: 3%;width: 31.25%;height: auto;border: 1px solid #ececec;}
ul.list_type2 > li:nth-child(-3n+4){margin-left: 0;}
ul.list_type2 > li:nth-child(n+4){margin-top: 30px;}
ul.list_type2 > li .content{padding: 15px 21px;width: 100%;}
ul.list_type2 > li ul{padding: 12px 0;}
ul.list_type2 > li ul > li{float: none;margin-top: 5px;margin-left: 0;width: 100%;height:auto;border: 0;text-align: left;}
ul.list_type2 > li ul > li:first-child{margin-top: 0;}
ul.list_type2 > li > a{cursor: pointer;}
ul.list_type2 > li .content {width: 100%;}
ul.list_type2 > li .content span.tit{display: -webkit-box;font-size: 1.1em;font-weight: 600;line-height: 1.5;height: 45px;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: normal;word-wrap: break-word;}




/* ul.ul-v1 */
ul.ul-v1{}
ul.ul-v1 > li{padding-bottom: 7px;padding-left: 21px;font-size:14px;text-align: left;}
ul.ul-v1 > li::before{content:'';display:inline-block;margin-top: 7px;margin-right: 7px;width:4px;height:4px;border-radius: 50%;background:#000;vertical-align: top;}
ul.ul-v1 > li p.tit{padding-left: 14px;font-size: 1.4em;font-weight: 600;color: #333;}
ul.ul-v1 > li > ul{padding-top: 10px;}
ul.ul-v1 > li > ul > li{}
ul.ul-v1 > li > ul > li::before{content: '';display: inline-block;margin-top: 5px;margin-right: 11px;width: 5px;height: 5px;background: #5472e6;line-height: 2.3;vertical-align: top;}
ul.ul-v1 > li > ul.no > li::before{content: ''; background:none; margin-top: 5px;margin-right: 11px; padding:8px; width: 5px;height: 5px;line-height: 2.3;vertical-align: top;}



/* list_dot */
.list_dot1{}
.list_dot1 > li::before{content:'';display: inline-block;margin-top: 5px;margin-right: 11px;width: 5px;height: 5px;background: #5472e6;line-height: 2.3;vertical-align: top;}
/* sub_tit */
.sub_tit{/* padding-bottom: 12px; */text-align: left;border-bottom: 2px solid #053e05;}
.sub_tit h4{padding-left: 14px;position: relative;font-size: 2em;color: #252323;font-weight:700;}
.sub_tit h4::after{content:'';display: block;width: 21%;height: 4px;position: absolute;bottom: -15px;left: 0;background: #022f02;} 


/*============================================== Form ================================================*/
/* form */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], textarea, select 
{font-family:'Nanum Gothic', '나눔고딕','Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'Montserrat', 'Arial', 'sans-serif';}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], textarea{border:1px solid #d3d6db; vertical-align:middle; }
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"]{height:auto; padding:7px 3px 7px 11px; margin:0; box-sizing:border-box;}
input[type="file"]{display:inline-block;height:38px;padding:6px 5px;vertical-align:middle;background:#fff;}
input[type="file"]{width:300px;}
input[type="radio"], input[type="checkbox"]{margin:5px;}
input[type="radio"]:first-child, input[type="checkbox"]:first-child{margin-left:0;}
input[type="radio"] + label, input[type="checkbox"] + label{margin-right:15px;}
textarea{padding:10px;}
select{font:inherit;}

input.text{padding:0 8px; -moz-appearance:none; -webkit-appearance:none; appearance:none;}
input.text_form{border:1px solid #ccc; max-width:100%; min-width: 90px; height:40px; padding:0 0.786em;line-height:normal; -moz-appearance:none; -webkit-appearance:none; appearance:none;}
input.text_form:not([readonly]):focus{border:1px solid #1e4da4; outline:0;}
input.text_form.success{border-color:#4fb76f !important; color:#4fb76f;}
input.text_form.error{border-color:#f23d52 !important; color:#f23d52;}
input.text_form[disabled], input.text_form[readonly]{background-color:#eee; color:#999;}

input[type=radio], input[type=checkbox]{width:1.286em; height:1.286em; margin:0.357em;}

textarea{max-width:100%;min-height: 195px;border:1px solid #ccc;padding:10px;-moz-appearance:none;-webkit-appearance:none;appearance:none;}
select{font-weight: 300;border:1px solid #ccc;padding:0 18px 0 10px;background: #fff url(/bigdatafarm/images/wsfarm_d/common/select_arr.png) no-repeat;background-position: 93% 50%;-moz-appearance:none;-webkit-appearance:none;appearance:none;cursor: pointer;}
select::after{content:''; display:inline-block;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png') 58% 60% no-repeat;}
select::-ms-expand{display:none;}
select.select_form{max-width:100%;}
select[disabled]{background-color:#eee !important;}
select:not([readonly]):focus{border:1px solid #1e4da4; outline:0;}
textarea:not([readonly]):focus{border:1px solid #1e4da4; outline:0;}
input:not([readonly]):focus, #fileMemo:not([readonly]):focus{border:1px solid #1e4da4; outline:0;} /*0616추가*/

.form_mg{margin:5px;}

.search .search_form{text-align:right;}
.search select.small{width:55px;}
/*============================================== Board ================================================*/

/* 게시판 버튼 */
.down_btn a{display:block; width:184px; height:37px; line-height:37px; border: 1px solid #c6c6c6; text-align:center; }
.WrtBtn {padding:20px 0;}
.WrtBtn input {display:inline-block;}
.btn a { display: inline-block;text-align: center;line-height: 46px; color: #4e81d9; width: 116px;height: 46px; border: 1px solid #4e81d9; border-radius: 30px; vertical-align: middle;}
.WrtBtn a:before {content: ""; display: inline-block;width: 14px;height: 14px;background-image: url(img/wrtbtnco.png);position: relative;top: 2px; right: 2px;}
.WrtBtn a img {width:100%;height:100%;}
.tBtn {padding: 20px 0;width: 100%;}
.tar { text-align: right !important;}


/* 서브메뉴,SNS 영역 */
.sug_bg{position: relative;}
.sug_bg > span{position: absolute;top: 50%;right: 302px;transform: translateY(-50%);color: #fff;font-family: "NanumMyeongjo";font-size: 2.6em;font-weight: 600;}
.sub_nav {position:relative; height:60px; border:1px solid #ddd; border-right:0;}
.sub_nav .path {float:left; clear:both;}
.sub_nav .path > li {position:relative;float:left;border-left:1px solid #ddd;color:#666;line-height:58px;}
.sub_nav .path > li:first-child {text-align: center;}
.sub_nav .path > li:nth-child(2) {min-width:220px;}
.sub_nav .path > li.last {width:245px;border-right:1px solid #ddd;background: url('/bigdatafarm/images/common/select_arrow.gif')no-repeat 90% 50%;}
.sub_nav .path > li.last > a {color:#555;}
.sub_nav .path > li> a {display:block; padding: 0 25px;font-size:1.063em; font-weight:normal;color:#555;}
.sub_nav .path > li:first-child> a >img { padding-top: 18px;}
.sub_nav .path li a.home {background: url('/bigdatafarm/images/young/interest/common/icon_home.png') no-repeat 50% 50%;padding: 0 30px;font-size: 0;text-indent: -9999em;width:100%;height:58px;}
.sub_nav .path li ul.lastDepth {position:absolute; display:none; top:58px; left:0; width:245px; border:1px solid #ccc; background:#fff; z-index:999;}
.sub_nav .path li ul.lastDepth li a:hover, .subNavi .path li .lastDepth li a:focus, .subNavi .path li .lastDepth li a:active {background:url('http://www.gyeongnam.go.kr/images/governor/bg_arrowr.png') 90% center no-repeat #ddebff; color:#232944;}
.sub_nav .path li ul.lastDepth li a {display:block; border-bottom:1px solid #f1f1f1; padding:8px 10px 8px 18px;}
.sub_nav .path.path_mo {display:none;}
.sub_nav .path{display:block;}

.sub_nav .sns {float:right; padding-top:11px;}
.sub_nav .sns li {float:left;}
.sub_nav .sns li a {font-size:0;text-indent:-9999em;}
.sub_nav .sns li > a {display:inline-block;width:39px;height:39px;vertical-align:top;}
.sub_nav .sns li > a.print {margin-right:5px;background:url('/bigdatafarm/images/young/interest/common/icon_print.png') no-repeat 0 50%;}
.sub_nav .sns li > a.fvadd {background:url('/bigdatafarm/images/young/interest/common/icon_fva.png') no-repeat 0 50%;}

.kind_list_btn{padding-bottom: 20px;}
.kind_list_btn > li{float: left;/* padding: 0 20px; */ margin-top:2px; margin-right: 7px;height: 35px;line-height: 35px;text-align: center;background: #e9edf4;border-radius: 25px;}
.kind_list_btn > li:hover{background:#4965ad;transition: 0.5s cubic-bezier(0.4, 0, 1, 1);}
.kind_list_btn > li.on{background:#4965ad;}
.kind_list_btn > li.on > a{color:#fff;}
.kind_list_btn > li:hover > a{color:#fff;}
.kind_list_btn > li > a{display: block;padding: 0 23px;width: 100%;height: 100%;font-weight: 400;}

table.board_view tr.changwon{background: #f2fbfc;}
table.board_view tr.milyang{background: #fcf5f2;}
table.board_view tr.gimhae{background: #fcfcf2;}
table.board_view tr.yangsan{background: #eefbdf;}
table.board_view tr.changnoung{background: #e9dbff;}
table.board_view tr.hanan{background: #ffe7c5;}
table.board_view tr.uiryeong{background: #d8f1ff;}
table.board_view tr.hahchun{background: #f8ffbf;}
table.board_view tr.geochang{background: #d8e9cf;}
table.board_view tr.hamyang{background: #f7cdaa;}
table.board_view tr.sanchung{background: #96d5c9;}
table.board_view tr.jinju{background: #efacc5;}
table.board_view tr.hadong{background: #f7e666;}
table.board_view tr.sachun{background: #bdd0fa;}
table.board_view tr.gosung{background: #ffe3b9;}
table.board_view tr.toungyeong{background: #dee1fe;}
table.board_view tr.geoje{background: #c0e3e9;}
table.board_view tr.namhae{background: #e3e8f5;}


.map{padding: 28px 0 0 42px;width: 35.222%;height: 580px;background: #f2f7fc;}
.map > span{font-size:22.19px;color:#0a378b;}
.map > p{padding-top: 10px;font-size:15.37px;font-weight: 300;color:#787878;}
.map > img{padding-top:80px;}


.map_img .map_svg{width:100%;}
.map_img .map_svg .do_map > g > polygon{fill:#fff;transition: all 0.5s ease-out;}
.map_img .map_svg .do_map > g.map01.on > polygon{fill: #B7D6A7;}
.map_img .map_svg .do_map > g.map02.on > polygon{fill: #f8ffbf;}
.map_img .map_svg .do_map > g.map03.on > polygon{fill: #c19efa;}
.map_img .map_svg .do_map > g.map04.on > polygon{fill: #fa8c8c;}
.map_img .map_svg .do_map > g.map05.on > polygon{fill: #c5f192;}
.map_img .map_svg .do_map > g.map06.on > polygon{fill: #fefeae;}
.map_img .map_svg .do_map > g.map07.on > polygon{fill: #dcfbff;}
.map_img .map_svg .do_map > g.map08.on > polygon{fill: #ffa420;}
.map_img .map_svg .do_map > g.map09.on > polygon{fill: #7dc7f1;}
.map_img .map_svg .do_map > g.map10.on > polygon{fill: #e977a2;}
.map_img .map_svg .do_map > g.map11.on > polygon{fill: #F7C986;}
.map_img .map_svg .do_map > g.map12.on > polygon{fill: #92d9e5;}
.map_img .map_svg .do_map > g.map13.on > polygon{fill: #D7DFF4;}
.map_img .map_svg .do_map > g.map14.on > polygon{fill: #83a8fa;}
.map_img .map_svg .do_map > g.map15.on > polygon{fill: #F7E666;}
.map_img .map_svg .do_map > g.map16.on > polygon{fill: #1aceac;}
.map_img .map_svg .do_map > g.map17.on > polygon{fill: #F7CDAA;}
.map_img .map_svg .do_map > g.map18.on > polygon{fill: #a7aeff;}

.map_img .map_svg .line_map path{fill:#D4D7D7;}
.map_img .map_svg .all_map path{fill:#B7B6B5;}

.map_img .map_svg text{fill: #464040;font-size: 13px;cursor: pointer;}
.map_img .map_svg text.map18{font-size: 12px;}
.map_img .map_svg text.on{fill: #000000;}
.map_img .map_svg text.map01.on{}
.map_img .map_svg text.map02.on{}
.map_img .map_svg text.map03.on{}
.map_img .map_svg text.map04.on{}
.map_img .map_svg text.map05.on{}
.map_img .map_svg text.map06.on{}
.map_img .map_svg text.map07.on{}
.map_img .map_svg text.map08.on{}
.map_img .map_svg text.map09.on{}
.map_img .map_svg text.map10.on{}
.map_img .map_svg text.map11.on{}
.map_img .map_svg text.map12.on{}
.map_img .map_svg text.map13.on{}
.map_img .map_svg text.map14.on{}
.map_img .map_svg text.map15.on{}
.map_img .map_svg text.map16.on{}
.map_img .map_svg text.map17.on{}
.map_img .map_svg text.map18.on{font-size: 12px;}

/* 달력 */
.ui-widget.ui-widget-content{display:none;}

/*새글알림*/
.sr-only{margin-right: 4px;padding: 1px 10px;letter-spacing: 0.5px;font-size: 13px;color: #fff;background: #ff8500;border-radius: 30px;}
.xi-subdirectory-arrow{  display: inline-block; width: 13px;  height: 13px;  background: url(/bigdatafarm/images/wsfarm_d/contents/answ.png) no-repeat;  margin-right: 8px;}
@media only screen and (max-width: 1306px){
  .map{padding: 28px 3% 0 3%;}

  	/* 모바일 테이블 가로스크롤 */
	.mb_scroll{position:relative;padding-top:20px;width:100%;overflow:auto}
	.mb_scroll table{width:700px}
	.mb_scroll::before{position:absolute;top:-4px;left:0;content:'좌우Scroll ▶'; padding-top:5px;}
	.mb_scroll::after{display:block;position:absolute;top:0;right:0;width:27px;height:100%;content:'';z-index:2;}
}

@media only screen and (max-width: 1230px){
  
  /* list */
  ul.list_type1 > li{width: 31.33%;}
  ul.list_type1 > li img{width: 100%;}
  ul.list_type1 > li:nth-child(4n-n){margin-top: 30px;}
  ul.list_type1 > li:nth-child(4n+5){margin-left: 3%;}
  ul.list_type1 > li:nth-child(-3n+7){margin-left: 0;}
  ul.list_type1 > li:nth-child(n+4){margin-top: 30px;}


}


@media only screen and (max-width: 900px){
 
  /* list1 */
  ul.list_type1 > li{width: 48.5%;}
  ul.list_type1 > li img{width: 100%;}
  ul.list_type1 > li:nth-child(4n-n){margin-top: 30px;}
  ul.list_type1 > li:nth-child(-3n+4){margin-left: 3%;}
  ul.list_type1 > li:nth-child(-4n+5){margin-left: 0;}
  ul.list_type1 > li:nth-child(-2n+3){margin-left: 0;}
  ul.list_type1 > li:nth-child(n+3){margin-top: 30px;}

  /* 3개1줄 */
  ul.list_type2 > li{width: 48.5%;margin-left:0;}
  ul.list_type2 > li:nth-child(even){margin-left:3%;}
  ul.list_type2 > li:nth-child(odd){margin-top:30px;}
  ul.list_type2 > li:first-child{margin-top:0;}



  /* search */
  .search{height: 35px;}
  .search select{width: 99px;}
  .search input[type="text"]{width: 180px;}
  .search button{width: 65px;}



  /* search */
/*
  .search{height: 35px;}
  .search select{width: 78px;}
  .search input[type="text"]{width: 180px;}
  .search button{width: 65px;}
  
  .kind_list_btn > li{width: 102px;}
*/

.kind_list_btn > li{width: 102px;}
.kind_list_btn > li > a{padding:0;}

}


@media only screen and (max-width: 768px){
  .txt_h3{margin-left:1% !important;}

}
@media only screen and (max-width: 600px){
  .mo600{display:block;}
 
  /* list */
  ul.list_type1 > li{width: 100%;}
  ul.list_type1 > li:nth-child(n+2){margin-top: 30px;}
  ul.list_type1 > li:nth-child(n){margin-left: 0;}


  /* 3개1줄 */
  ul.list_type2 > li{width: 100%;margin-top:30px;height: auto;}
  ul.list_type2 > li:nth-child(even){margin-left:0;}
  ul.list_type2 > li img{width: 100%;}
  
}

@media only screen and (max-width: 480px){
 

 
  .txt_h3{margin-left:0 !important;}
  /*paging*/
  .paging > ul{width: 270px;}
  .paging > ul > li {width: 27px;height: 27px;line-height: 26px;}

  /* list */
  ul.list_type1 > li{width: 100%;}
  ul.list_type1 > li:nth-child(n+2){margin-top: 30px;}
  ul.list_type1 > li:nth-child(n){margin-left: 0;}

  /* search */
  .search select{margin-right: 0;width: 73px;}
  .search input[type="text"]{width: 133px;}
  .search button{width: 62px;}

  .kind_list_btn > li {width: 97px;}


}

@media only screen and (max-width: 360px){

	.kind_list_btn > li {width: 138px;}
	.search input[type="text"] {width: 115px;}
}
@media only screen and (max-width: 300px){

   /*paging*/
  .paging > ul{width: 200px;}
  .paging > ul > li {width: 20px;height: 20px;line-height: 19px; font-size: 0.8em}
  .kind_list_btn > li {width: 91px;}


}
