/* graph */
@charset "UTF-8";

html{height: 50px; overflow: hidden;}
 body>div {height:300px !important}
 body>div  svg{height:300px !important;}




@media all and (max-width:680px){
 body>div {height:200px !important;}
 body>div  svg{height:200px !important;}
}



