@charset "utf-8";

 /* 레이어팝업 */
#main-layer-popup{position: absolute;z-index: 1001;top: 0;}
#main-layer-popup .popup-bottom{background: #4c4c4c;color: #fff;padding: 15px 10px;}
#main-layer-popup .main-popup-close{position:absolute;top:0;right:0;}      
#main-layer-popup.main-layer-popup2{left:80px;}
#main-layer-popup.main-layer-popup3{left:160px;}



/* 그래프공통 */

.grp{
  position: relative;
}
.grp .more_btn{position: absolute;top: 23px;right: 10px;font-size: 17px;color: #fff;width: 72px;}
.grp .more_btn::after{content:'';display: inline-block;margin-left: 8px;width: 18px;height: 18px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -241px -26px;vertical-align: top;}
.g_cnt{background:#fff;width: 100%;height: 100%;}
.grp > h4{width: 100%;padding-left: 22px;height: 63px;line-height: 63px;background: #3154b5;color: #fff;}
.grp > h4::before{content:'';display: inline-block;margin-top: 16px;margin-right: 13px;width: 33px;height: 33px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -224px -88px;vertical-align: top;}
.grp:nth-child(2) > h4::before{background-position: -200px -133px;}
.grp:nth-child(3) > h4::before{}
.grp:nth-child(4) > h4::before{}
.grp:nth-child(5) > h4::before{}
.grp:nth-child(6) > h4::before{}
.grp:nth-child(7) > h4::before{}



.visul{position: relative;width: 100%;height: 803px;z-index: 1;}
.vsl_b{position:absolute;top:0; left:0; right:0;}
.visul > article{padding-top: 165px;}
.visul .vs1_l{float: left;margin-left: 10.125%;width: 33.94%;}
.visul .vs1_l p{font-size: 57.38px;color: #fff;font-family: 'Noto Sans CJK KR',sans-serif;font-weight: 300;}
.visul .vs1_l p:last-of-type{padding-top: 21px;font-size: 20.59px;font-weight: 200;}
.visul .vs1_l span{font-size: 57.38px;color: #fff;font-family: 'Noto Sans CJK KR',sans-serif;font-weight: 700;}
.visul .vs1_l > .icon1{}
.visul .vs1_l > .icon1 >img{}
.visul .vsl_b .slider li.s01 {background:url('/bigdatafarm/images/wsfarm_d/main/main_bak1_2.jpg')no-repeat;background-size: cover;height: 803px;}
.visul .vsl_b .slider li.s02 {background:url('/bigdatafarm/images/wsfarm_d/main/main_bak1_3.jpg')no-repeat;background-size: cover;height: 803px;}
.visul .vsl_b .bx-wrapper .bx-pager{left: 0;padding-left: 16.2%; top:599px;}

.visul .vs1_l div.video_box{margin-top: 23px;}
.visul .vs1_l div.video_box > div{float: left;width: 48.5%;background: rgba(0, 0, 0, 0.3); height:100%;}
.visul .vs1_l div.video_box .tit_box{padding:0;height: 40px;line-height: 35px;text-align: center;color:#fff;}
.visul .vs1_l div.video_box > div:last-child{margin-left: 3%;}
.visul .vs1_l div.video_box iframe{width:100%; }



.vs1_r .bx-wrapper .bx-pager.bx-default-pager a{
	margin: 0;
	background: #3a5992;
	width: 100%;
	height: 90px;
	background:url('/bigdatafarm/images/wsfarm_d/main/m_off.png') no-repeat;
	background-size: 12px;
	background-position-y: 60px;
	background-position-x: center;
	background: none;
	opacity: 0;
	transition-property: opacity;
	-webkit-transition-property: 0.6s;
	transition-duration: 1s;
	}
.vs1_r .bx-wrapper .bx-pager.bx-default-pager a:hover, .vs1_r .bx-wrapper .bx-pager.bx-default-pager a.active, .vs1_r .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: #fff;
    width: 100%;
    height: 90px;
    background: url('/bigdatafarm/images/wsfarm_d/main/m_off.png') no-repeat;
    background-size: 12px;
    background-position-y: 70px;
    background-position-x: center;
    opacity: 100;
    transition-property: opacity;
    -webkit-transition-property: 0.6s;
    transition-duration: 1s;
    }


.vsl_b .bx-wrapper .bx-pager.bx-default-pager a{background: #3a5992;width:20px;height:20px;background:url('/bigdatafarm/images/wsfarm_d/main/m_off.png') no-repeat;}
.vsl_b .bx-wrapper .bx-pager.bx-default-pager a:hover, .vsl_b .bx-wrapper .bx-pager.bx-default-pager a.active, .vsl_b .bx-wrapper .bx-pager.bx-default-pager a:focus
{background: #fff;background:url('/bigdatafarm/images/wsfarm_d/main/m_on.png') no-repeat;width:20px;height:20px;}


.visual_box .bx-wrapper .bx-controls-auto .bx-start {width:15px; height:21px; background:url('/bigdatafarm/images/wsfarm_d/main/m_play.png') -208px -20px no-repeat;}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {background-position:-208px 1px;}
.bx-wrapper .bx-controls-auto .bx-stop {width:15px; height:20px; background:url('/bigdatafarm/images/wsfarm_d/main/m_pause.png') -208px -90px no-repeat; }
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {background-position:-208px -65px;}



.fn_bck480{display:none;}
.visul .vs1_r{position: relative;/*padding: 11px 41px 20px;*/padding-top:11px;float: right;/* margin-right: 3.063%; */width: 44.87%;height: auto;background: rgba(63, 103, 181, 0.92);}
/*.visul .vs1_r:after{content:"도매가격 기준"; display:block; position:absolute; color:#fff; bottom:-30px; right:0; width:100px; height:24px; 
line-height:24px; background:rgba(0,0,0,0.5); border-radius:50px; text-align:center; font-size:0.88em; font-weight:300;}*/

.visul .vs1_r ul.farm_name{padding: 0 0 3.5%;margin: 0 auto;width: 92.44%;border-bottom: 1px solid rgba(233, 233, 233, 0.32);}
/* .visul .vs1_r ul.farm_name > li:first-child{margin-left:0;} */
.visul .vs1_r ul.farm_name > li{position: relative;float: left;width: 7.69%;height: 65px;}
/*.visul .vs1_r ul.farm_name > li.on::after{position: absolute;bottom: -24px;left: 17px;content:'';display: block;width:10px;height: 10px;background: #fff;border-radius: 50%;}*/
.visul .vs1_r ul.farm_name > li > a{position: relative;display: block;height: 65px;text-align: center;}
.visul .vs1_r ul.farm_name > li >a::before{content: '';display:block;width: 25px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_12.png')no-repeat;position: absolute;top: 0;left: 50%;transform:translateX(-50%);}
.visul .vs1_r ul.farm_name > li:nth-child(2) >a::before{width: 33px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_05.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(3) >a::before{width: 33px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_13.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(4) >a::before{width: 33px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_06.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(5) >a::before{width: 28px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_02.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(6) >a::before{width: 37px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_01.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(7) >a::before{width: 26px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_03.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(8) >a::before{width: 32px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_10.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(9) >a::before{width: 39px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_04.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(10) >a::before{width: 38px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_07.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(11) >a::before{width: 38px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_08.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(12) >a::before{width: 43px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_11.png')no-repeat;}
.visul .vs1_r ul.farm_name > li:nth-child(13) >a::before{width: 45px;height: 55px;background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_09.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover12.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(2) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_05.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(3) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover13.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(4) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_06.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(5) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_02.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(6) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_01.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(7) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_03.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(8) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_10.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(9) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_04.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(10) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_07.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(11) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_08.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(12) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_11.png')no-repeat;}
.visul .vs1_r ul.farm_name > li.on :nth-child(13) >a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsmicons_hover_09.png')no-repeat;}
.visul .vs1_r ul.farm_name > li > a > span{display: inline-block;padding-top: 62px;font-size: 12px;color: #fff;}
.visul .vs1_r ul.farm_name > li.juki > a > span{padding-top: 54px}

.visul .vs1_r .detail_con{}
.visul .vs1_r .bx-wrapper .bx-pager{padding:0; top: -77px;left: 27px;width: 92.44%;}
.visul .vs1_r  .bx-wrapper .bx-pager-item{/* margin-left: 11px; */width: 7.69%;}
.visul .vs1_r .bx-wrapper .bx-pager-item:first-child{margin-left:0;}
.visul .vs1_r .detail_con>div{height: 312px;padding-left: 41px;padding-right: 41px;}
.visul .vs1_r ul.detail_info1 > li > img{margin: 0 auto;}
.visul .vs1_r ul.detail_info1{padding:24px 77px;color: #fff;}
.visul .vs1_r ul.detail_info1 > li{float: left;width: 33.333%;text-align: center;}
.visul .vs1_r ul.detail_info1 > li > p.tit{padding-top: 8px;font-size: 1.2em;color: #fff;}
.visul .vs1_r ul.detail_info1 > li > p.tit > span{font-size:13.97px; font-weight: 500;}
.visul .vs1_r ul.detail_info1 > li > p > .safe > i,
.visul .vs1_r ul.detail_info2 > li > p > .safe > i{display: inline-block;margin-top: 2px;font-size: 0;margin-right: 4px;padding-left: 19px;height: 17px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -68px -94px;vertical-align: top;}
.visul .vs1_r ul.detail_info1 > li >span{display: inline-block;margin: 12px 0 14px;font-size: 37.59px;font-weight: 800;font-family: 'Noto Sans KR',sans-serif;}
.visul .vs1_r ul.detail_info2{position: absolute;bottom: 0;left: 0;padding: 34px 118px;height: 147px;background: rgba(0,0,0,0.5);}
.visul .vs1_r ul.detail_info2 > li{position:relative;float: left;width: 50%;color: #fff;text-align:center;}
.visul .vs1_r ul.detail_info2 > li:first-child::after{content:'';display:block;position: absolute;top: 0;right: 0;width: 2px;height: 87px;background: rgba(255, 255, 255, 0.22);}
/* .visul .vs1_r ul.detail_info2 > li{float: left;width: 33.333%;color: #fff;text-align:center;} */
.visul .vs1_r ul.detail_info2 > li >span{display: inline-block;margin: 5px 0 8px;font-size: 37.59px;font-weight: 800;font-family: 'Noto Sans KR',sans-serif;}
.visul .vs1_r ul.detail_info2 > li > p{font-size: 21px;}
.visul .vs1_r ul.detail_info2 > li > p > span.down{color: #63e3ff;}
.visul .vs1_r ul.detail_info2 > li > p > span.down > i{margin-right: 4px;padding-left: 19px;height: 17px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -33px -89px;}
.visul .vs1_r ul.detail_info2 > li > p > span.up{color: #ff9f7e;}
.visul .vs1_r ul.detail_info2 > li > p > span.up > i{margin-right: 4px;padding-left: 19px;height: 17px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -2px -89px;}
.visul > .dscroll_btn{position: absolute;position: absolute;bottom: 65px;left: 50%;transform: translateX(-50%);padding-left: 73px;height: 68px;background-color: #3ba44ecf;border-radius: 50%;}
.visul > .dscroll_btn > span{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: block;width: 32px;height: 43px;box-shadow: inset 0 0 0 2px #fff;border-radius: 20px;}
.visul > .dscroll_btn > span::after{content: '';position: absolute;top: 10px;left: 52%;transform: translateX(-50%);margin-left: -1px;width: 2px;height: 9px;background: #fff;border-radius: 30%;-webkit-animation-duration: 1.5s;animation-duration: 1.5s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-name: dscroll_btn_scroll;animation-name: dscroll_btn_scroll;}
@-webkit-keyframes dscroll_btn_scroll {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

/* .visul > .dscroll_btn{position: absolute;bottom: 65px;left: 50%;transform: translateX(-50%);padding-left: 73px;height: 68px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;} */
.visul > .dscroll_btn{font-size: 0;}
/* 
.visul .vs1_r .detail_con .detail_info1 > li:first-child{position:relative}
.visul .vs1_r .detail_con .detail_info1 > li:first-child:before{ content:""; position:absolute; left:40px; display:block; width:90px; height:80px; background:url('/bigdatafarm/images/wsfarm_d/main/nsmicons_big.png')no-repeat;background-position-y: -5px;}
.visul .vs1_r .detail_con .detail_con01 .detail_info1 > li:first-child:before{background-position-x: 10px;}
.visul .vs1_r .detail_con .detail_con02 .detail_info1 > li:first-child:before{background-position-x: -100px;}
.visul .vs1_r .detail_con .detail_con03 .detail_info1 > li:first-child:before{background-position-x: -210px;}
.visul .vs1_r .detail_con .detail_con04 .detail_info1 > li:first-child:before{background-position-x: -320px;}
.visul .vs1_r .detail_con .detail_con05 .detail_info1 > li:first-child:before{background-position-x: -430px;}
.visul .vs1_r .detail_con .detail_con06 .detail_info1 > li:first-child:before{background-position-x: -545px;}
.visul .vs1_r .detail_con .detail_con07 .detail_info1 > li:first-child:before{background-position-x: -660px;}
.visul .vs1_r .detail_con .detail_con08 .detail_info1 > li:first-child:before{background-position-x: -770px;}
.visul .vs1_r .detail_con .detail_con09 .detail_info1 > li:first-child:before{background-position-x: -880px;}
.visul .vs1_r .detail_con .detail_con10 .detail_info1 > li:first-child:before{background-position-x: -1005px;}

 */

.vs1_r_txt{text-align: right;display: block;float: right;  width: 44.87%; color: rgba(255,255,255,0.9); font-weight: 200; margin-top: 10px;}



/* section1 */

/* 수급뉴스 */
#flow_wrap{float: left; margin: 0 17px; width: 85%; opacity: 1; visibility: visible;}
.caroufredsel_wrapper{margin:0; width: 100% !important; height: 54px !important;}
.caroufredsel_wrapper > ul {margin-left:1% !important; width: 100% !important;}
.caroufredsel_wrapper > ul > li{margin-left: 0 !important; width: 33.3% !important;}
.section1{padding-top: 11px;height: 71px;}
.section1 .news{float: left;display: inline-block;width: 166px;height: 47px;line-height: 47px;font-size:20px;text-align: center;color: #fff;background: #5472e6;border-radius: 50px;} 
.section1 .news > i{margin-right: 17px;padding: 1px 0 6px 25px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -172px -90px;}
.section1 ul{float: left;width: 71.93%;padding-top: 16px;margin-left:10%;}
/*.section1 ul > li:first-child{margin-left: 0;}*/
.section1 ul > li{float: left;width: 33.33%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-left: 0px;}
.section1 ul > li > a {font-size: 17px;color: #111;font-family: 'Noto Sans KR',sans-serif;}
.section1 .more_btn{position: absolute;right: 0px;float: left;display: block;margin-top: 0.3%;margin-left: 0%;width: 41px;height: 41px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -158px -14px;}
.section1 .more_btn a{display: block;width: 100%;height: 100%;}
/*.section1 .more_btn2{position: absolute;right: 39px;float: left;display: block;margin-top: 0.3%;margin-left: 0%;width: 41px;height: 41px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -158px -14px;}
.section1 .more_btn3{position: absolute;right: 78px;float: left;display: block;margin-top: 0.3%;margin-left: 0%;width: 41px;height: 41px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -158px -14px;}
*/


/* section1 */
.section1{padding-top: 11px;height: 71px;}
.section1 .news{float: left;display: inline-block;width: 166px;height: 47px;line-height: 47px;font-size:20px;text-align: center;color: #fff;background: #5472e6;border-radius: 50px;} 
.section1 .news > i{margin-right: 17px;padding: 1px 0 6px 25px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -172px -90px;}
.section1 ul{float: left;width: 71.93%;padding-top: 16px;margin-left:10%;}
/*.section1 ul > li:first-child{margin-left: 0;}*/
.section1 ul > li{float: left;width: 33.33%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-left: 0px;}
.section1 ul > li > a {font-size: 17px;color: #111;font-family: 'Noto Sans KR',sans-serif;}
.section1 .more_btn{position: absolute;right: 0px;float: left;display: block;margin-top: 0.3%;margin-left: 0%;width: 41px;height: 41px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -158px -14px;}
.section1 .more_btn a{display: block;width: 100%;height: 100%;}
/*.section1 .more_btn2{position: absolute;right: 39px;float: left;display: block;margin-top: 0.3%;margin-left: 0%;width: 41px;height: 41px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -158px -14px;}
.section1 .more_btn3{position: absolute;right: 78px;float: left;display: block;margin-top: 0.3%;margin-left: 0%;width: 41px;height: 41px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -158px -14px;}

*/
/* section2 */
.section2{position: relative;width: 100%;height: 669px;background: url('/bigdatafarm/images/wsfarm_d/main/main_bak2.jpg')no-repeat;background-size: cover;}
.section2 .g1{position: relative;padding-top: 67px;width: 51.313%;height: 437px;}
.section2 .g1.grp .more_btn{padding-top: 67px;}
.section2 .g2{position: absolute;top:147px;right: 0;width: 52.313%;background: #fff;box-shadow: -11px 12px 0 0 rgba(56, 92, 195, 0.42);}
.section2 .g2::before{/* content:''; */display:block;position:absolute;top: 11px;left: -11px;width:100%;height:444px;background:rgba(0,0,0,0.2);/* z-index: -1; */}
.section2 .g2 .more_btn{padding-top: 0px;}
.section2 .g2 ul li > a{float: left;display: block;width: 100%;height: 100%;line-height: 39px;text-align: center;color: #333;}

.section2 .g2 ul li.active > a::after{content: ''; width: 41px;height: 41px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -158px -14px;}

.section2 .g2 ul.grp_nm {float: left;margin-left: 6.69%;padding-top: 73px;z-index: 222;width: 15.9%;}
.section2 .g2 ul.grp_nm >li{width: 131px;height: 39px;margin-bottom: 11px;;background: #f4f4f4;border-radius: 20px;}
.section2 .g2 ul.grp_nm >li >a{font-weight: 500;color: #333}
.section2 .g2 ul.grp_nm >li.active{ display: block; background: #4a6ee6;}
.section2 .g2 ul.grp_nm >li.active >a{color: #fff;}
.section2 .g2 ul.grp2_img {float: left;margin-left: 2.867%;width: 74.5%;}
.section2 .g2 ul.grp2_img > li{display: none;}
.section2 .g2 ul.grp2_img > li.active{display:block;}
.section2 .g1 .g_cnt{padding: 30px 90px 40px 50px;}
.section2 .g1 .g_cnt iframe{height:360px;}
.section2 .g2 .g_cnt iframe{height:360px;}

.section2 .g2 .g_cnt{padding: 30px 50px 40px 50px;text-align: center;height: 370px;}

/* section3 */
.section3{width: 100%; height: 1079px; background: url('/bigdatafarm/images/wsfarm_d/main/main_bak3.jpg')no-repeat;background-size: cover;}
.section3 .nsmgr_k {padding-top: 83px;margin: 0 auto;width: 1250px;}
.section3 .nsmgr_k select.mo_nskind{display:none;}
.section3 .nsmgr_k ul > li{float: left;margin-right: 13px;text-align: center;width: 6.5%;height: 109px;}
.section3 .nsmgr_k ul > li:last-child{margin-right:0;}
.section3 .nsmgr_k ul > li > a{position: relative;display: block;text-align: center;}
.section3 .nsmgr_k ul > li > a::before{display: block;content:'';position: absolute;top: -6px;left: 50%;transform: translateX(-50%);margin-bottom: 9px;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon13.png')no-repeat;opacity: 0.8;transition: all 0.8s;}

.section3 .nsmgr_k ul > li:nth-child(2) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon1.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(3) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon14.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(4) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon2.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(5) > a::before{content: '';width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon3.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(6) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon4.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(7) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon5.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(8) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon6.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(9) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon7.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(10) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon8.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(11) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon9.png')no-repeat;}
.section3 .nsmgr_k ul > li:nth-child(12) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon10.png')no-repeat; opacity:1;}
.section3 .nsmgr_k ul > li:nth-child(13) > a::before{content: '';display: block;width: 84px;height: 84px;background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon11.png')no-repeat;opacity:1;}
.section3 .nsmgr_k ul > li.on> a > span::before,
.section3 .nsmgr_k ul > li:hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon13_hover.png')no-repeat; opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(2).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(2):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover1.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(3).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(3):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon14_hover.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(4).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(4):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover2.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(5).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(5):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover3.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(6).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(6):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover4.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(7).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(7):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover5.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(8).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(8):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover6.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(9).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(9):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover7.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(10).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(10):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover8.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(11).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(11):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover9.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(12).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(12):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover10.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li:nth-child(13).on > a::before,
.section3 .nsmgr_k ul > li:nth-child(13):hover > a::before{background: url('/bigdatafarm/images/wsfarm_d/main/nsm_micon_hover11.png')no-repeat;opacity: 1;}
.section3 .nsmgr_k ul > li > a > span{display: block;padding-top: 88px;font-size: 16.85px;color: #3a559f;text-align: center;}

.section3 .sc3_grs{padding-top: 48px;}
.section3 .sc3_grs .grp .more_btn{font-size: 0;top: 16px; width: 43px;}
.section3 .sc3_grs .grp .more_btn::after{width: 30px;height: 31px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -100px -20px;}
.section3 .sc3_grs .grp > h4{background: #34bf88;}
.section3 .sc3_grs .grp > .g_cnt{height: 287px;text-align: center;}
.section3 .sc3_grs .g1 {width: 66.125%;float: left;}
.section3 .sc3_grs .g1 .dt_g1{width:100%;padding: 0 4%;}
.section3 .sc3_grs .g1 .dt_g1 .vg_l, .section3 .sc3_grs .g1 .dt_g1 .vg_r,
.section3 .sc3_grs .g1 .dt_g1 .vg_l, .section3 .sc3_grs .g1 .dt_g1 .vg_l{float: left;width: 50%;}
.section3 .sc3_grs .g1 .dt_g1 .h5, .section3 .sc3_grs .grp > .g_cnt .h5{font-size: 17px;margin: 0;padding: 26px 0 10px 0;text-align: center;}
.section3 .sc3_grs .g1 .dt_g1 .h5::before,.section3 .sc3_grs .grp > .g_cnt .h5::before{content:'';display: inline-block;margin-top: 1px;margin-right: 7px;width: 22px;height: 20px;background: url('/bigdatafarm/images/wsfarm_d/common/won_icon.png')no-repeat;vertical-align: top;}
.section3 .sc3_grs .grp > .g_cnt .h5.bl2::before{background: url('/bigdatafarm/images/wsfarm_d/common/g_icon1.png')no-repeat;}
.section3 .sc3_grs .g1 .dt_g1 .h5,
.section3 .sc3_grs .grp > .g_cnt .h5{font-size: 17px;margin: 0;padding: 26px 0 10px 0;}
.section3 .sc3_grs .g1 .mg_table{position: relative;float: left;padding-top: 49px;padding-right: 34px;width: 50%;}
.section3 .sc3_grs .g1 .mg_table span.tit{display: inline-block;position: absolute;top: 30px;left: 0;width: 50%;text-align: left;}
.section3 .sc3_grs .g1 .mg_table span{display: inline-block;position: absolute;top: 30px;right: 35px;width: 50%;font-weight: 600;color:#2d2d2d;text-align: right;}
.section3 .sc3_grs .g1 .mg_table table.board_view{margin-top: 11px;}
.section3 .sc3_grs .g1 .mg_table table.board_view tr{text-align: center; border: 1px solid #dfdfdf;}
.section3 .sc3_grs .g1 .mg_table table.board_view tr th{color: #2247ab;}
.section3 .sc3_grs .g1 .mg_table table.board_view tr td{border-right: 1px solid #dfdfdf;}
.section3 .sc3_grs .g2 > h4::before{background-position: -55px -131px;}
.section3 .sc3_grs .g3 > h4::before{background-position: -104px -131px;}
.section3 .sc3_grs .g4 > h4::before{background-position: -251px -135px;}
.section3 .sc3_grs .g5 > h4::before{background-position: -147px -131px;}
.section3 .sc3_grs .g6 > h4::before{background-position: -7px -131px;}
.section3 .sc3_grs .g2{float: left; margin-left: 1.5%; width: 32.375%;}
.section3 .sc3_grs .g3 .more_btn,
.section3 .sc3_grs .g4 .more_btn,
.section3 .sc3_grs .g5 .more_btn{top:48px;}
.section3 .sc3_grs .g3,
.section3 .sc3_grs .g5,
.section3 .sc3_grs .g4{float: left;padding-top: 32px;width: 32.33%;margin-left: 1.5%;}
.section3 .sc3_grs .g3{margin-left: 0;}

.section3 .sc3_grs .g2 > .g_cnt{padding-top: 28px;padding-left: 29px;}
.section3 .sc3_grs .g2 .g2_l{float: left;width: 29%;height: 236px;background: #f4f4f4;}
.section3 .sc3_grs .g2 .g2_l dl{padding: 12px 15px 15px 18px;font-size: 13px;background: #f4f4f4;}
.section3 .sc3_grs .g2 .g2_l dl dt{float: left; margin-bottom: 17px; width: 50%; text-align: left; color:#2247ab; }
.section3 .sc3_grs .g2 .g2_l dl dt:last-child{margin-bottom: 0;}
.section3 .sc3_grs .g2 .g2_l dl dd{float: right; margin-bottom: 17px; width: 50%; text-align: right;}
.section3 .sc3_grs .g2 .g2_l dl dd:last-child{margin-bottom: 0;}
.section3 .sc3_grs .g2 .g2_r{float: right;width: 71%;}


.section3 .sc3_grs .g4{}
.section3 .sc3_grs .g4 >.g_cnt{padding: 23px 0 0 47px;}
.section3 .sc3_grs .g4 .g4_l{float: left;padding-top: 13px;}
.section3 .sc3_grs .g4 .g4_l > p{margin: 0 auto;width: 148px;height: 35px;line-height: 33px;font-size: 15px;text-align: center;border-radius: 50px;}
.section3 .sc3_grs .g4 .g4_l > p:nth-child(2){color: #d42528;background: #fff;border: 2px solid #f26769;}
.section3 .sc3_grs .g4 .g4_l > p:nth-child(2)::after{content: '';display: inline-block;margin-left: 5px;margin-top: 11px;width: 12px;height: 12px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -108px -96px;vertical-align: top;}
.section3 .sc3_grs .g4 .g4_l > p:last-child{margin-top: 4px;color: #fff;background:#f26769;}
.section3 .sc3_grs .g4 .g4_r{float: left;margin-left: 51px;width: 43.32%;height: 212px;}
.section3 .sc3_grs .g4 .g4_r > p{font-size:14px;}
.section3 .sc3_grs .g4 .g4_r dl{display: block;margin-top: 13px;padding: 16px 28px;height: 216px;font-size: 14px;background: #f4f4f4;}
.section3 .sc3_grs .g4 .g4_r dl dt{float: left;width: 60%;margin-bottom: 17px;text-align: left;color:#2247ab;}
.section3 .sc3_grs .g4 .g4_r dl dt:last-child{margin-bottom: 0;}
.section3 .sc3_grs .g4 .g4_r dl dd{float: left;width: 40%;margin-bottom: 17px;text-align: right;}
.section3 .sc3_grs .g4 .g4_r dl dd:last-child{margin-bottom: 0;}
.section3 .sc3_grs .g4 .g4_r dl dd >span.up{color: #fb2d2d;}
.section3 .sc3_grs .g4 .g4_r dl dd >span.up::before{content: '';display: inline-block;margin-right: 4px;margin-top: 1px;width: 12px;height: 12px;background: url('/bigdatafarm/images/wsfarm_d/common/com_icon.png')no-repeat;background-position: -270px -95px;vertical-align: top;}

.section3 .sc3_grs .g5 >.g_cnt{padding: 17px 28px 17px 28px;text-align: center;}
.section3 .sc3_grs .g5 >.g_cnt::after{content:''; display:block; clear:both;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 {float:left;padding: 46px 0; width: 50%; height: 100%;background: #faf8f9;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_top{}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_top::after{content:''; display:block; margin:21px auto 21px; width:80%; height:1px; background:#ddd;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_top > span{display: block;font-size: 19px;font-weight: 200;padding-bottom: 10px;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_top > p.ton{font-size: 22px;font-weight: 600;color: #011ba3;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_top > p.ton > img{margin-right:8px;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_bottom{}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_bottom > span{display: block;font-size: 19px;font-weight: 300;padding-bottom: 10px;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_bottom > p.ton{font-size: 20px;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g2{float:left; width:50%; height: 100%; padding:0 20px } 

/* .section3 .sc3_grs .g5  >.g_cntul{}
.section3 .sc3_grs .g5  >.g_cnt ul{margin-top: 24px;}
.section3 .sc3_grs .g5  >.g_cnt ul > li{float: left;margin-right: 13px;width: 77px;height: 25px;line-height: 24px;font-size: 13.87px;font-weight: 500;border-radius: 50px;color: #fff;text-align: center;}
.section3 .sc3_grs .g5  >.g_cnt ul > li:last-child{margin-right: 0;}
.section3 .sc3_grs .g5  >.g_cnt ul > li.under{background: #4795d6;}
.section3 .sc3_grs .g5  >.g_cnt ul > li.hype{background: #f13e3e;} */
.section3 .sc3_grs .grp > .g_cnt .grp_area1.grp_pd{padding: 0 6%;}
.section3 .sc3_grs .grp > .g_cnt .grp_area1.c3_daily1_1{padding: 0 3%;}
.section3 .sc3_grs .grp > .g_cnt .grp_area2.c3_daily1_2{padding: 0 3%;}

@media only screen and (max-width: 1600px){
	.visul .vs1_r{margin-right: 31px;width: 716px;}
	.vs1_r_txt{margin-right: 31px;}
    .visul .vs1_r ul.detail_info2 > li >span{font-size:31px;}
    .section1 ul{margin-left: 3%;}
    .section1 ul > li{margin-left: 3%; width:30%;}
    .section1 .more_btn{margin-left: 5%;}
    .caroufredsel_wrapper > ul > li{margin-left: 0;}



}
@media only screen and (max-width: 1440px){
	
	.visul{height: 1120px;}
	.vsl_b{height:100%;}
	.visul > article{padding-top: 47px;}
	.visul .vs1_l{margin-left: 0;width: 100%;text-align: center;}
	.visul .vs1_r{float: left;margin: 49px 10%;width: 80%;}
	.vs1_r .bx-wrapper .bx-pager.bx-default-pager a{margin: 0;}
	.visul > .dscroll_btn{bottom: 14px;}
	.visul .vs1_r .detail_con>div{height:294px}
	.vsl_b .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{top: 262px;left:0%;padding-left: 50%;transform: translateX(-25px);}
	.visul .vs1_r ul.detail_info2 > li > p > span.up > i{background-position: -2px -93px;}
	.visul .vs1_r ul.detail_info2 > li > p > span.down > i{background-position: -33px -92px;}
  .visul .vs1_r .bx-wrapper .bx-pager {padding: 0 9.4% 2.78%;top: -77px; left: 0px;width: 100%;}
  .visul .vs1_l div.video_box{width: 80%; margin: 0 auto; margin-top: 58px; height:250px;}
  .visul .vsl_b .slider li.s01{height:100%;}
  .visul .vsl_b .slider li.s02{height:100%;}
  .visul .vs1_l div.video_box iframe{height: calc(100% - 45px);}
  .visul .bx-viewport{height: 100%;}
  .visul .bx-viewport ul.slider{height: 100%;}


  #flow_wrap{width: 78%;}
  .section3{height: 2060px; background: #e0f1ff;}
  .section3 .nsmgr_k{padding-top: 43px;width: 100%;}
  .section3 .nsmgr_k{width: 195px;}
  .section3 .nsmgr_k ul.pc_nskind{display:none;}
  .section3 .nsmgr_k select.mo_nskind{display:block;width: 199px;height: 37px;font-size: 16px;border: 1px solid #a9a9a9;}

  .section3 .nsmgr_k select.mo_nskind > option{font-size: 16px;}
  .section3 .nsmgr_k ul > li{margin-top: 20px;width: 7%;}
  .section3 .sc3_grs .g1,
  .section3 .sc3_grs .g2,
  .section3 .sc3_grs .g3,
  .section3 .sc3_grs .g4,
  .section3 .sc3_grs .g5{width: 99%;margin: 0;}
  .section3 .sc3_grs .g2{margin-top: 32px;}
  .section3 .sc3_grs .g1 .g_cnt{/*height: 554px;*/}
  .section3 .sc3_grs .g1 .dt_g1 .vg_l, .section3 .sc3_grs .g1 .dt_g1 .vg_r,
  .section3 .sc3_grs .g1 .dt_g1 .vg_l, .section3 .sc3_grs .g1 .dt_g1 .vg_l{width: 50%;}

  .section3 .sc3_grs .g2 .g2_l{width: 40%;}
  .section3 .sc3_grs .g2 .g2_r{width: 50%;}
  
  .section3 .sc3_grs .g2 .g2_l dl dt{width: 50%;}
  .section3 .sc3_grs .g2 .g2_l dl dd{width: 50%;}

.section3 .sc3_grs .g4 .g4_l{width: 20%}
.section3 .sc3_grs .g4 .g4_r{width: 70%;}
}
@media only screen and (max-width: 1230px){
  #flow_wrap{width: 70%;}
  .section1 ul{margin-left: 3%;}
  .section1 ul > li{margin-left: 3%; width:47%; height: 52px}
  .section1 ul > li:nth-child(odd){margin-left: 0;}
  .section1 .more_btn{margin-left: 2%;}
  .section2{height: 985px;}
  .section2 .g1{margin: 0 auto;width: 97%;height: auto;}
  .section2 .g2{position: inherit;top: 20px;margin: 0 auto;width: 97%;}
  .section2 .g1 .g_cnt{padding: 20px 10px 40px 10px;text-align: center;height: 360px;}
}

@media only screen and (max-width: 900px){
  .visul .vs1_r ul.farm_name{padding: 0 0 2.78%;}
  .caroufredsel_wrapper > ul > li{width: 50% !important;}
	.section3 .nsmgr_k{width: 195px;}
	.section3 .nsmgr_k ul.pc_nskind{display:none;}
	.section3{height: 2049px;}
  .section3 .sc3_grs .g2 .g2_l dl dt{width: 50%;}
  .section3 .sc3_grs .g2 .g2_l dl dd{width: 30%;}
	.vs1_r .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{padding: 0 3.6% 2.78%;}


}


@media only screen and (max-width: 800px){
	
  .visul > .dscroll_btn{display:none;}
  .section1 .news > i{display: none;}
  .section1 .news{width: 106px;font-size: 16px;}
  .caroufredsel_wrapper > ul > li {margin-left: 0;}
  .visul .vs1_r{padding-top: 25px;margin: 93px 0 0 0;width:100%;}
  .visul .vs1_r ul.farm_name{margin: 0 auto;padding: 0 1% 2.78% 1%;width: 100%;}
  .visul .vs1_r ul.farm_name > li{width: 7.6%;}
  .visul .vs1_r ul.farm_name > li > a > span{font-size: 11px;}
  .visul .vs1_r .bx-wrapper .bx-pager-item{margin-left: 0;width:7.6%;}
  .vs1_r .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{left: 0px;margin: 0 auto;padding: 0 8.6% 2.78%;width: 100%;}
  .section3{height: 2309px;}
  .section3 .sc3_grs .g1 .dt_g1 .vg_l, .section3 .sc3_grs .g1 .dt_g1 .vg_r,
  .section3 .sc3_grs .g1 .dt_g1 .vg_l, .section3 .sc3_grs .g1 .dt_g1 .vg_l{width: 100%;}
  .section3 .sc3_grs .g1 .g_cnt{height: 554px;}
  .vs1_r_txt{width:100%;font-size: 0.9em;}
}


@media only screen and (max-width: 680px){
  #flow_wrap{width: 56%;margin: 0 17px;}
  .visul .vs1_l img{width:15%}
  .visul .vs1_l span{font-size: 3em;}
  .visul .vs1_l p{font-size: 1.8em;}
  .visul .vs1_l p:last-child{padding-top: 8px;font-size: 1.8em;}
  .vsl_b .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{top: 183px;}
  .visul .vs1_r ul.farm_name{padding: 0 2% 4.78% 2%;}
  .visul .vs1_r ul.detail_info1{padding: 7px 0px;}
  .caroufredsel_wrapper > ul > li{width:100% !important }
  .section2 {height: 941px;}
  .section3{height: 3090px;}
  .visul .vs1_r ul.detail_info2{padding: 30px 0;}
  .section3 .nsmgr_k select.mo_nskind{display:block;width: 199px;height: 37px;font-size: 16px;border: 1px solid #a9a9a9;}
  .section3 .nsmgr_k select.mo_nskind > option{font-size: 16px;}
  .section3 .sc3_grs .grp > .g_cnt{padding: 17px 10px;height: 545px;}
  .section3 .sc3_grs .g3 > .g_cnt{height: 310px;}
  .section3 .sc3_grs .g4 > .g_cnt{height: 570px;}
  .section3 .sc3_grs .g5 > .g_cnt{height: 288px;}
  .section3 .sc3_grs .g1 .dt_g1{width: 100%;}
  .section3 .sc3_grs .g1 .mg_table{padding-top: 15px;margin-left: 14px;width: 100%;}
  .section3 .sc3_grs .g1 .mg_table span.tit{top: 0px;}
  .section3 .sc3_grs .g1 .mg_table span{top: 0px;}
  .section3 .sc3_grs .g2 .g2_l{width: 100%;}
  .section3 .sc3_grs .g2 .g2_r{padding-top: 15px;width: 100%;}
  .section3 .sc3_grs .g4 .g4_l{width: 100%;}
  .section3 .sc3_grs .g4 .g4_r{margin-left: 0;width: 100%;}
  .section3 .sc3_grs .g5 > .g_cnt {height: 518px;}
  .section3 .sc3_grs .g5 >.g_cnt .dt_g1{width:100%;height: 230px;}
  .section3 .sc3_grs .g5 >.g_cnt .dt_g2{width:100%;height: auto;}
  .vs1_r .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{padding: 0 9px 2.78%;}

  	  .section2 .g1 .g_cnt{height: 300px;}
  .section2 .g2 .g_cnt{height: 300px;}

  #main-layer-popup{width:100%;}
  #main-layer-popup.main-layer-popup2{left:0; top:50px;}
}
@media only screen and (max-width: 560px){
.visul .vs1_r ul.farm_name {padding: 0 2% 0.78% 2%;}
.visul .vs1_r ul.farm_name > li >a::before{content: '';display:block;width: 18px;height: 31px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(2) >a::before{width: 18px;height: 36px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(3) >a::before{width: 29px;height: 36px;background-size: 47%;}
.visul .vs1_r ul.farm_name > li:nth-child(4) >a::before{width: 20px;height: 30px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(5) >a::before{width: 20px;height: 30px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(6) >a::before{width: 24px;height: 33px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(7) >a::before{width: 18px;height: 29px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(8) >a::before{width: 19px;height: 29px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(9) >a::before{width: 23px;height: 30px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(10) >a::before{width: 20px;height: 30px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(11) >a::before{width: 25px;height: 31px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(12) >a::before{width: 23px;height: 28px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li:nth-child(13) >a::before{width: 21px;height: 27px;background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(2) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(3) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(4) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(5) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(6) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(7) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(8) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(9) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(10) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(11) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(12) >a::before{background-size: 100%;}
.visul .vs1_r ul.farm_name > li.on :nth-child(13) >a::before{background-size: 100%;}

.visul .vs1_r ul.farm_name > li > a > span{display: inline-block;padding-top: 40px;font-size: 9px;color: #fff;}
.visul .vs1_r ul.farm_name > li.juki > a > span{padding-top: 39px;}

.visul .vs1_l div.video_box > div{width:100%;}
.visul .vs1_l div.video_box > div:last-child{margin-left:0; margin-top:10px;}
.visul .vs1_r{margin: 32px 0 0 0;}
.visul .vs1_l div.video_box{height:200px;}

}


@media only screen and (max-width: 480px){
.fn_bck480{display:block;}
.visul .vs1_r ul.farm_name {padding: 0 2% 1.78% 2%;}
.visul .vs1_r ul.farm_name > li.papri> a > span,
.visul .vs1_r ul.farm_name > li.paper> a > span{padding-top: 39px;}

.visul .vs1_r ul.detail_info1 > li:first-child{padding-top: 0;}
.visul .vs1_r ul.detail_info1 > li{padding-top: 13px;}
.visul .vs1_r ul.detail_info1 > li >span{font-size: 24px;}
.visul .vs1_r ul.detail_info1 > li > img{width: 41%;}
.visul .vs1_r ul.detail_info2 > li >span{font-size: 24px;}
.caroufredsel_wrapper > ul {width: 70% !important;}
.caroufredsel_wrapper > ul > li{height: 35px !important;}
.section2 {height: 761px;}
.section3{height: 3041px;}
.section3 .sc3_grs .grp > .g_cnt{height: 560px;}
.section3 .sc3_grs .g2 > .g_cnt{height: 535px;}
.section3 .sc3_grs .g3 > .g_cnt{height: 289px;}
.section3 .sc3_grs .g4 > .g_cnt{height: 530px;}
.section3 .sc3_grs .g5 > .g_cnt{height: 517px;}
.grp .more_btn::after{margin-left: 3px;}
.grp .more_btn{font-size:1em;top: 25px;right: -5px;}
.grp .more_btn::after{height: 18px;background-position: -239px -28px;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_top > span{font-size: 15px;}
.section3 .sc3_grs .g5 >.g_cnt .dt_g1 .l_top > p.ton{font-size: 20px;}
.section2 .g1 .g_cnt{height: 240px;}
.section2 .g2 .g_cnt{height: 240px;}

}
@media only screen and (max-width: 360px){
	.visul .vs1_l span{font-size: 2.5em;}
	.visul .vs1_l p{font-size: 1.5em;}
  .visul .vs1_l p:last-child{font-size: 1.5em;}
  #flow_wrap {width: 54%;margin: 0 0 0 1%;}
	.vsl_b .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{top: 162px;}
	.section2 {height: 677px;}
	.visul .vs1_l div.video_box{height: 158px;}
	.visul{height:980px;}
}
