{% extends 'home/base.html' %}
{% load static %}
{% block body %}

<div id="main">
    <div id="content">
        <!--쿠폰 페이지-->
        <div id="qnb" class="quick-navigation" style="top: 70px;">
            <style>
    #qnb{position:absolute;z-index:1;right:20px;top:70px;width:80px;font:normal 12px/16px "Noto Sans";color:#333;letter-spacing:-0.3px;transition:top 0.2s}
    .goods-goods_view #qnb{top:20px}
    /* 배너 */
    #qnb .bnr_qnb{padding-bottom:7px}
    #qnb .bnr_qnb .thumb{width:80px;height:120px;vertical-align:top}
    /* 메뉴 */
    #qnb .side_menu{width:80px;border:1px solid #ddd;border-top:0 none;background-color:#fff}
    #qnb .link_menu{display:block;height:29px;padding-top:5px;border-top:1px solid #ddd;text-align:center}
    #qnb .link_menu:hover,
    #qnb .link_menu.on{color:#5f0080}
    /* 최근본상품 */
    #qnb .side_recent{position:relative;margin-top:6px;border:1px solid #ddd;background-color:#fff}
    #qnb .side_recent .tit{display:block;padding:22px 0 6px;text-align:center}
    #qnb .side_recent .list_goods{overflow:hidden;position:relative;width:60px;margin:0 auto}
    #qnb .side_recent .list{position:absolute;left:0;top:0}
    #qnb .side_recent .link_goods{display:block;overflow:hidden;width:60px;height:80px;padding:1px 0 2px}
    #qnb .side_recent .btn{display:block;overflow:hidden;width:100%;height:17px;border:0 none;font-size:0;line-height:0;text-indent:-9999px}

    #qnb .side_recent .btn_up{position:absolute;left:0;top:0;background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover.png) no-repeat 50% 50%}
    #qnb .side_recent .btn_up.off{background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up.png) no-repeat 50% 50%}
    #qnb .side_recent .btn_down{background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover.png) no-repeat 50% 0}
    #qnb .side_recent .btn_down.off{background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down.png) no-repeat 50% 0}


    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
        #qnb .side_recent .btn_up{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_up.off{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down.off{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_x2.png);background-size:12px 18px}
    }
    @media all and (max-width: 1250px){
        #qnb{display:none}
    }
























            </style>

            <div class="bnr_qnb" id="brnQuick"><a href="/shop/board/view.php?id=notice&amp;no=64" id="brnQuickObj">
                <img class="thumb" src="https://res.kurly.com/pc/service/main/1904/bnr_quick_20190403.png"
                     alt="퀄리티있게 샛별배송">
            </a>
                <script>
    var brnQuickScript = (function(){
        var $target = $('#brnQuickObj'), $targetThumb = $('#brnQuickObj .thumb');
        // 시간체크
        function timeCheck(){
            var now = brnQuick.nowTime; // 호출 하는 js에서 변수선언되어 가져다 사용
            if( new Date('2020-12-31T11:00:00+09:00').getTime() <= now && now < new Date('2021-01-15T11:00:00+09:00').getTime() ){
              $target.attr('href', '/shop/event/kurlyEvent.php?htmid=event/2020/1231/newyearsday');
              $targetThumb.attr('src', 'https://res.kurly.com/pc/service/main/2012/bnr_quick.png');
              $targetThumb.attr('alt', '2021 설 선물');
            }else if(  new Date('2021-01-15T11:00:00+09:00').getTime() <= now && now <= new Date('2021-02-10T23:00:00+09:00').getTime() ){
              $target.attr('href', '/shop/event/kurlyEvent.php?htmid=event/2021/0115/newyearsday');
              $targetThumb.attr('src', 'https://res.kurly.com/pc/service/main/2101/bnr_quick.png');
              $targetThumb.attr('alt', '2021 설 선물');
            }
        }
        return {
            timeCheck : timeCheck
        }
    })();
    brnQuickScript.timeCheck();
























                </script>


            </div>
            <script>
    var brnQuick = {
        nowTime : '1652001748451',
        update : function(){
            $.ajax({
                url : campaginUrl + 'pc/service/bnr_quick.html'
            }).done(function(result){
                $('#brnQuick').html(result);
            });
        }
    }
    brnQuick.update();
























            </script>

            <div class="side_menu">
                <a href="/shop/main/html.php?htmid=event/kurly.htm&amp;name=lovers" class="link_menu ">등급별 혜택</a>
                <a href="/shop/board/list.php?id=recipe" class="link_menu ">레시피</a>
                <a href="/shop/goods/goods_review_best.php" class="link_menu ">베스트 후기</a>
            </div>
            <div class="side_recent" style="display:none">
                <strong class="tit">최근 본 상품</strong>
                <div class="list_goods" data-height="209" style="height: 0px;">
                    <ul class="list"></ul>
                </div>
                <button type="button" class="btn btn_up off">최근 본 상품 위로 올리기</button>
                <button type="button" class="btn btn_down off">최근 본 상품 아래로 내리기</button>
            </div>
            <script>
/**
 * 상품상세일때 현재 보고 있는 상품 담기. 상품URL & 상품이미지
 * 최종 저장 날짜로 부터 24시가 지날시 localStorage 삭제
 */
var getGoodsRecent = (function(){
    var i, len, getGoodsRecent, item, _nowTime = '1652001748451';

    _goodsRecent();
    function _goodsRecent(){
        if(localStorage.getItem('goodsRecent') === null){
            return false;
        }

        try{
            getGoodsRecent = JSON.parse(localStorage.getItem("goodsRecent"));
            len = getGoodsRecent.length;
            if(addDays(getGoodsRecent[len - 1].time, 1) < _nowTime){
                localStorage.removeItem('goodsRecent');
            }else{
                for(i = 0; i < len; i++){
                    item = '<li><a class="link_goods" href="/shop/goods/goods_view.php?goodsno=' + getGoodsRecent[i].no + '"><img src="' + getGoodsRecent[i].thumb + '" alt=""></a></li>';
                    $('.side_recent .list').append(item);
                }
                $('.side_recent').show();
            }
        } catch(e){
            console.log("JSON parse error from the Quick menu goods list!!!", e);
        }
    }

    function addDays(date, days){
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result.getTime();
    }

    // return {
    // }
})();
























            </script>
        </div>
        <div class="bg_loading" id="bgLoading" style="display: none;">
            <div class="loading_show"></div>
        </div>
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="/common_js/common_filter.js?ver=1.70.3"></script>
        <script src="{% static 'js/mypage_v1.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/coupon.bundle.css' %}">
        <div class="page_aticle aticle_type2">
            <div id="snb" class="snb_my">
                <h2 class="tit_snb">마이컬리</h2>

                <div class="inner_snb">
                    <ul class="list_menu">
                        <li>
                            <a href="/mypage">주문 내역</a>
                        </li>
                        <li>
                            <a href="#none"
                               onclick="KurlyTrackerLink('/shop/mypage/mypage_pick.php', 'select_my_kurly_pick_list')">찜한
                                상품</a>
                        </li>
                        <li>
                            <a href="/shop/mypage/mypage_review.php">상품 후기</a>
                        </li>
                        <li>
                            <a href="/shop/mypage/product_inquiry.php">상품 문의</a>
                        </li>
                        <li>
                            <a href="/mypage/coupon"
                               onclick="">쿠폰</a>
                        </li>
                        <li class="on">
                            <a href="/mypage/update">개인 정보 수정</a>
                        </li>
                    </ul>
                </div>
                <a href="/mypage/inquiry/form" class="link_inquire"><span class="emph">도움이 필요하신가요 ?</span> 1:1 문의하기</a>
            </div>
            <div class="page_section section_infochange">
                <div class="title"><h4>회원정보수정</h4></div>
                <div>
                    <tr>
                        <div class="type_form member_join member_mod">
                            <form method="post">
                                {% csrf_token %}
                                <table class="tbl_comm">
                                    <tbody>
                                    <tr>
                                        <th>현재 비밀번호</th>
                                        <td>
                                            <input type="password" name="origin_password"
                                                   id="originalPassword"
                                                   onblur="checkCurrentPassword(this);return;">

                                            <p class="txt_guide square" style="display: none;">
                                                <span class="txt txt_case4 bad">현재 비밀번호를 확인해주세요</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="member_pwd">
                                        <th>새 비밀번호</th>
                                        <td>
                                            <input type="password" name="password1" id="newPassword"
                                                   label="새 비밀번호" option="regPass" maxlength="16"
                                                   class="reg_pw bad" aria-autocomplete="list">

                                            <p class="txt_guide square" style="display: block;">
                                                <span class="txt txt_case4">현재 비밀번호와 다르게 입력</span>
                                                <span class="txt txt_case1">7자 이상 입력</span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="member_pwd">
                                        <th>새 비밀번호 확인</th>
                                        <td>
                                            <input type="password" name="password2"
                                                   id="confirmPassword" label="새 비밀번호" option="regPass"
                                                   maxlength="16" class="confirm_pw">
                                            <p class="txt_guide square">
                                                <span class="txt txt_case1">동일한 비밀번호를 입력해주세요.</span>
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="formSubmit" class="form_footer">
                                    <button class="btn active" type="submit">회원정보수정</button>
                                </div>
                            </form>
                            &ensp;

                            <div style=" text-align: center;">
                                <a class="btn active" href="/mypage/delete">탈퇴하기</a>
                            </div>

                        </div>
                    </tr>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}