{% extends 'home/base.html' %}
{% load static %}
{% block body %}
<div class="tit_page">
    <h2 class="tit">회원가입</h2>
</div>
</div>
<div id="main">
    <div id="content">
        <div id="qnb" class="quick-navigation" style="top: 70px;">
            <style>
    #qnb{position:absolute;z-index:1;right:20px;top:70px;width:80px;font:normal 12px/16px "Noto Sans";color:#333;letter-spacing:-0.3px;transition:top 0.2s}
    .goods-goods_view #qnb{top:20px}
    /* 배너 */
    #qnb .bnr_qnb{padding-bottom:7px}
    #qnb .bnr_qnb .thumb{width:80px;height:120px;vertical-align:top}
    /* 메뉴 */
    #qnb .side_menu{width:80px;border:1px solid #ddd;border-top:0 none;background-color:#fff}
    #qnb .link_menu{display:block;height:29px;padding-top:5px;border-top:1px solid #ddd;text-align:center}
    #qnb .link_menu:hover,
    #qnb .link_menu.on{color:#5f0080}
    /* 최근본상품 */
    #qnb .side_recent{position:relative;margin-top:6px;border:1px solid #ddd;background-color:#fff}
    #qnb .side_recent .tit{display:block;padding:22px 0 6px;text-align:center}
    #qnb .side_recent .list_goods{overflow:hidden;position:relative;width:60px;margin:0 auto}
    #qnb .side_recent .list{position:absolute;left:0;top:0}
    #qnb .side_recent .link_goods{display:block;overflow:hidden;width:60px;height:80px;padding:1px 0 2px}
    #qnb .side_recent .btn{display:block;overflow:hidden;width:100%;height:17px;border:0 none;font-size:0;line-height:0;text-indent:-9999px}

    #qnb .side_recent .btn_up{position:absolute;left:0;top:0;background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover.png) no-repeat 50% 50%}
    #qnb .side_recent .btn_up.off{background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up.png) no-repeat 50% 50%}
    #qnb .side_recent .btn_down{background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover.png) no-repeat 50% 0}
    #qnb .side_recent .btn_down.off{background:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down.png) no-repeat 50% 0}


    @media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
        #qnb .side_recent .btn_up{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_up.off{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down.off{background-image:url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_x2.png);background-size:12px 18px}
    }
    @media all and (max-width: 1250px){
        #qnb{display:none}
    }






















            </style>
            <script>
    var brnQuick = {
        nowTime : '1651991459000',
        update : function(){
            $.ajax({
                url : campaginUrl + 'pc/service/bnr_quick.html'
            }).done(function(result){
                $('#brnQuick').html(result);
            });
        }
    }
    brnQuick.update();






















            </script>
            <div class="side_recent" style="display:none">
                <strong class="tit">최근 본 상품</strong>
                <div class="list_goods" data-height="209" style="height: 0px;">
                    <ul class="list"></ul>
                </div>
                <button type="button" class="btn btn_up off">최근 본 상품 위로 올리기</button>
                <button type="button" class="btn btn_down off">최근 본 상품 아래로 내리기</button>
            </div>
            <script>
/**
 * 상품상세일때 현재 보고 있는 상품 담기. 상품URL & 상품이미지
 * 최종 저장 날짜로 부터 24시가 지날시 localStorage 삭제
 */
var getGoodsRecent = (function(){
    var i, len, getGoodsRecent, item, _nowTime = '1651991459000';

    _goodsRecent();
    function _goodsRecent(){
        if(localStorage.getItem('goodsRecent') === null){
            return false;
        }

        try{
            getGoodsRecent = JSON.parse(localStorage.getItem("goodsRecent"));
            len = getGoodsRecent.length;
            if(addDays(getGoodsRecent[len - 1].time, 1) < _nowTime){
                localStorage.removeItem('goodsRecent');
            }else{
                for(i = 0; i < len; i++){
                    item = '<li><a class="link_goods" href="/shop/goods/goods_view.php?goodsno=' + getGoodsRecent[i].no + '"><img src="' + getGoodsRecent[i].thumb + '" alt=""></a></li>';
                    $('.side_recent .list').append(item);
                }
                $('.side_recent').show();
            }
        } catch(e){
            console.log("JSON parse error from the Quick menu goods list!!!", e);
        }
    }

    function addDays(date, days){
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result.getTime();
    }

    // return {
    // }
})();






















            </script>
        </div>
        <div class="page_aticle">

            <script type="text/javascript" src="/asset/js/useKurly/libText.bundle.js"></script>
            <script src="/shop/data/skin/designgj/godo.password_strength.js" type="text/javascript"></script>
            <script src="/common_js/join_v1.js?ver=1.70.3"></script>
            <div class="type_form member_join ">
                <!--                ## form post 방식-->

                <form method="post">
                    {% csrf_token %}
                    <p class="page_sub"><span class="ico">*</span>필수입력사항</p>
                    <table class="tbl_comm">
                        <tbody>
                        <tr class="fst">
                            <th>아이디<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                            <td>
                                <input type="text" name="username" value="" maxlength="16" required=""
                                       fld_esssential="" option="regId" label="아이디"
                                       placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합">
                                <!--                                아이디 중복확인-->
                                <!--                                <input type="hidden" name="chk_id" required="" label="아이디중복체크"-->
                                <!--                                       value="">-->
                                <a class="btn default" href="javascript:chkId()">중복확인</a>
                                <p class="txt_guide square">
                                    <span class="txt txt_case1">6자 이상의 영문 혹은 영문과 숫자를 조합</span>
                                    <span class="txt txt_case2">아이디 중복확인</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                            <td>
                                <input type="password" name="password1" required="" fld_esssential=""
                                       option="regPass" label="비밀번호" maxlength="16" class="reg_pw"
                                       placeholder="비밀번호를 입력해주세요">
                                <p class="txt_guide square">
                                    <span class="txt txt_case1">10자 이상 입력</span>
                                    <span class="txt txt_case2">영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합</span>
                                    <span class="txt txt_case3">동일한 숫자 3개 이상 연속 사용 불가</span>
                                </p>
                            </td>
                        </tr>
                        <tr class="member_pwd">
                            <th>비밀번호확인<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                            <td>
                                <input type="password" name="password2" required="" fld_esssential=""
                                       option="regPass" label="비밀번호" maxlength="16" class="confirm_pw"
                                       placeholder="비밀번호를 한번 더 입력해주세요">
                                <p class="txt_guide square">
                                    <span class="txt txt_case1">동일한 비밀번호를 입력해주세요.</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>이름<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                            <td>
                                <input type="text" name="u_id" value="" required="" fld_esssential="" label="이름"
                                       placeholder="이름을 입력해주세요">
                            </td>
                        </tr>
                        <tr>
                            <th>이메일<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                            <td>
                                <input type="text" name="email" value="" data-email="" size="30" required=""
                                       fld_esssential="" option="regEmail" label="이메일"
                                       placeholder="예: marketkurly@kurly.com">
                                <!--                                <input type="hidden" name="chk_email" required="" fld_esssential=""-->
                                <!--                                       label="이메일중복체크">-->
                                <a href="javascript:void(0)" onclick="chkEmail()" class="btn default">중복확인</a>
                            </td>
                        </tr>
                        <tr class="field_phone">
                            <th>휴대폰<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                            <td>
                                <div class="phone_num">
                                    <input type="text" value="" pattern="[0-9]*" name="u_phonenum"
                                           placeholder="숫자만 입력해주세요" class="inp">
                                </div>
                                <div id="codeNum" class="code_num">
                                    <input type="text" name="auth_code" id="auth_code" value="" size="6"
                                           maxlength="6" pattern="[0-9]*" label="인증번호 확인" disabled=""
                                           class="inp_confirm"
                                           oninput="if(value.length>6)value=value.slice(0,6);$(this).val($(this).val().replace(/[^0-9]/g,''));">
                                    <button id="btn_cert_confirm" class="btn default disabled" type="button">
                                        인증번호 확인
                                    </button>
                                    <p id="countdown" class="count_down"></p>
                                </div>
                                <p class="txt_guide">
                                    <span class="txt txt_case1"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>주소<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                            <td>
                                <input type="text" id="address_kakao" name="u_address" value="" required=""
                                       fld_esssential="" label="이름"
                                       placeholder="주소를 입력해주세요" readonly="readonly"/>
                            </td>
                        </tr>
                        <tr>
                            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                            <script>
window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("address_kakao").value = data.address; // 주소 넣기
                document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
            }
        }).open();
    });
}












                            </script>
                        </tr>
                        <tr class="select_sex">
                            <th>성별</th>
                            <td>
                                <label class="">
                                    <input type="radio" name="u_sex" value="m">
                                    <span class="ico"></span>남자
                                </label>
                                <label class="">
                                    <input type="radio" name="u_sex" value="f">
                                    <span class="ico"></span>여자
                                </label>
                                <label class="checked">
                                    <input type="radio" name="u_sex" value="n">
                                    <span class="ico"></span>선택안함
                                </label>
                            </td>
                        </tr>
                        <tr class="birth field_birth">
                            <th>생년월일</th>
                            <td>
                                <div class="birth_day">
                                    <input type="text" name="birth_year" id="birth_year" pattern="[0-9]*"
                                           value="" label="생년월일" size="4" maxlength="4" placeholder="YYYY">
                                    <span class="bar"></span>
                                    <input type="text" name="birth_month" id="birth_month" pattern="[0-9]*" value=""
                                           label="생년월일" size="2" maxlength="2" placeholder="MM">
                                    <span class="bar"></span>
                                    <input type="text" name="birth_day" id="birth_day" pattern="[0-9]*" value=""
                                           label="생년월일" size="2" maxlength="2" placeholder="DD">
                                </div>
                                <p class="txt_guide">
                                    <span class="txt bad"></span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="formSubmit" class="form_footer">
                        <button id="submitButton" type="submit" class="btn active btn_join">가입하기
                        </button>
                    </div>
                </form>
            </div>
            <iframe id="ifrmRnCheck" name="ifrmRnCheck" style="display:none;"></iframe>
            <iframe id="ifrmHpauth" name="ifrmHpauth" style="display:none;"></iframe>
            <script src="/shop/data/skin/designgj/js/pw_validate.js?ver=1.70.3"></script>
            <script src="/shop/data/skin/designgj/js/delivery_address.js?ver=1.70.3"></script>
        </div>
    </div>
</div>
{% endblock %}