{% extends 'home/base.html' %}
{% block body %}
{% load static %}


<!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">-->

  <div class="container my-3">
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시sssss</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'board:detail' question.id %}">
                   {{ question.subject }}
                </a>
            <td>{{ question.author.id }}</td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
  </div>


{% endblock %}